@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Title"];
    var Locale = ViewData["Locale"] as String;
    var err  = ViewData["AuthError"] as String[];
    var data = ViewData["AuthData"] as String[];
    var User = ViewData["authUser"] as Forum.DAL.Entities.User;
}
<div class="AuthForm" style="min-height:200px;">
    <svg id="LoginSVG" class="svgBody" version="1.0" xmlns="/Icon/AuthFon.svg" viewBox="0 0 1771.000000 887.000000" preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,887.000000) scale(0.100000,-0.100000)">
        <path d="M10899 8636 c-82 -61 -129 -115 -129 -150 0 -39 65 2 135 85 22 26
        57 60 78 75 39 28 49 54 20 54 -10 0 -57 -29 -104 -64z"/>
        <path d="M8557 7813 c-3 -5 -13 -78 -22 -163 -9 -85 -22 -184 -30 -220 -34
        -158 -62 -612 -60 -975 0 -49 -6 -116 -14 -148 -14 -55 -13 -59 6 -79 46 -45
        62 14 61 222 -3 582 -2 629 15 707 20 97 68 645 57 656 -4 5 -10 5 -13 0z"/>
        <path d="M8164 7736 c-74 -32 -105 -137 -65 -219 47 -98 193 -116 259 -32 50
        63 37 139 -37 216 -41 43 -52 49 -87 49 -21 -1 -53 -7 -70 -14z"/>
        <path d="M17435 7510 c-60 -15 -162 -42 -225 -59 -63 -17 -171 -45 -240 -61
        -69 -17 -185 -49 -258 -71 -73 -22 -178 -50 -235 -64 -188 -44 -465 -124 -679
        -195 -231 -77 -722 -206 -938 -245 -159 -30 -297 -70 -452 -131 -62 -25 -164
        -63 -227 -85 -62 -22 -172 -62 -245 -88 -72 -27 -194 -68 -271 -91 -77 -23
        -203 -71 -280 -105 -77 -35 -165 -68 -195 -75 -74 -17 -249 -78 -279 -97 -13
        -8 -101 -35 -195 -58 -224 -57 -422 -121 -447 -146 -10 -10 -65 -38 -121 -60
        -82 -34 -121 -43 -198 -49 -52 -5 -126 -13 -165 -19 -179 -26 -248 -32 -259
        -21 -17 17 32 50 75 50 35 0 66 20 52 33 -3 4 -49 7 -102 7 -53 0 -101 4 -107
        8 -5 4 -40 50 -77 102 -36 52 -77 110 -91 129 -18 24 -23 38 -16 50 5 10 4 21
        -4 31 -7 8 -18 34 -25 57 -10 36 -24 52 -85 97 -41 30 -77 60 -81 66 -4 6 7
        32 25 57 l33 45 -41 -7 c-33 -5 -44 -3 -61 14 -22 22 -28 56 -12 65 5 4 32 1
        60 -6 37 -8 55 -8 62 -1 17 17 -26 40 -119 61 -46 11 -86 22 -89 26 -3 3 1 24
        10 47 11 28 12 39 4 36 -12 -4 -31 -36 -41 -69 -4 -15 -17 -18 -70 -18 -63 0
        -66 1 -126 52 l-62 52 -45 -24 c-40 -21 -48 -22 -76 -11 -18 7 -46 12 -63 12
        -24 -1 -38 6 -58 30 -14 17 -26 35 -26 39 0 5 19 14 43 20 89 21 159 82 130
        111 -9 9 -20 5 -47 -19 -50 -44 -103 -56 -211 -47 -49 4 -127 7 -172 6 -80 -1
        -83 0 -89 24 -7 28 -20 31 -47 11 -29 -22 -185 -42 -208 -27 -24 15 -33 10
        -49 -29 -7 -16 -18 -30 -24 -30 -15 0 -73 72 -86 105 -5 14 -10 39 -10 55 0
        33 -15 48 -24 24 -11 -28 -6 -51 24 -119 35 -77 36 -95 11 -229 -13 -70 -23
        -103 -36 -113 -12 -8 -48 -13 -94 -14 l-76 -1 79 -14 c113 -20 151 -41 258
        -138 93 -83 119 -98 134 -75 4 8 27 10 66 6 55 -5 60 -4 70 19 8 18 22 26 50
        31 23 3 56 20 80 39 22 19 52 37 67 41 35 9 149 8 184 -2 22 -6 33 -3 52 15
        32 31 68 24 192 -35 54 -26 120 -56 147 -66 138 -55 319 -238 395 -400 32 -66
        38 -94 22 -103 -5 -3 -46 -10 -92 -15 -75 -8 -87 -7 -122 11 -45 22 -86 19
        -149 -13 -51 -26 -286 -48 -299 -28 -7 11 -12 10 -27 -7 -24 -29 -193 -100
        -281 -119 -40 -8 -102 -18 -139 -21 -67 -6 -67 -6 -84 24 -22 37 -23 64 -2
        119 20 52 14 81 -28 129 l-32 36 -105 -6 c-59 -3 -162 -10 -231 -14 l-125 -8
        -73 -50 c-65 -44 -77 -57 -115 -129 -29 -54 -52 -84 -71 -94 -39 -18 -72 -2
        -81 39 -5 24 -16 36 -41 46 -39 16 -117 18 -144 4 -20 -11 -60 5 -60 23 0 5
        -12 38 -26 73 l-26 65 27 192 c25 181 34 217 57 217 26 0 82 37 99 64 23 37
        25 103 5 151 -37 87 -173 102 -233 25 -45 -56 -36 -140 22 -208 l34 -39 -15
        -122 c-18 -158 -21 -166 -56 -196 -55 -47 -69 -33 -87 90 -18 120 -92 477
        -102 497 -5 10 -16 18 -24 18 -12 0 -14 9 -9 43 15 93 13 91 80 88 52 -2 64 1
        101 28 47 34 58 61 50 128 -8 78 -76 143 -149 143 -32 0 -47 -7 -73 -33 -47
        -47 -68 -133 -44 -178 6 -13 10 -99 9 -235 0 -150 3 -214 10 -214 7 0 10 19 8
        52 -2 41 0 53 13 56 33 6 68 -239 35 -251 -19 -8 -32 10 -40 56 -12 65 -24 31
        -31 -92 -8 -131 -19 -164 -55 -169 -25 -4 -147 -82 -202 -131 -18 -15 -43 -33
        -56 -40 -27 -14 -62 -6 -62 15 0 8 25 64 56 125 30 61 53 114 49 117 -9 9 -70
        -57 -100 -108 -14 -25 -39 -73 -56 -108 -26 -56 -35 -65 -84 -89 l-55 -27 -46
        22 c-25 12 -50 20 -55 17 -5 -4 -6 -24 -3 -45 9 -55 -11 -97 -57 -120 -21 -11
        -40 -24 -44 -30 -12 -20 -26 -10 -15 10 9 17 8 20 -10 20 -42 0 -34 46 18 102
        31 34 21 50 -11 20 -31 -30 -87 -30 -87 -2 0 17 -3 19 -19 10 -27 -14 -68 -13
        -73 2 -3 7 -15 13 -29 13 -23 0 -24 2 -24 83 1 45 -3 82 -7 82 -4 0 -8 -10 -8
        -22 -2 -98 -19 -167 -54 -222 -20 -31 -44 -60 -54 -63 -9 -4 -23 -14 -29 -22
        -11 -14 -13 -13 -19 7 -4 13 -14 22 -25 22 -22 0 -24 11 -7 28 9 9 8 12 -5 12
        -10 0 -20 7 -23 15 -4 8 -14 15 -23 15 -20 0 -56 29 -64 51 -10 30 -124 49
        -227 37 -19 -2 -39 -6 -45 -10 -5 -3 -33 -9 -61 -13 -45 -6 -54 -4 -80 18 -28
        24 -28 27 -16 59 8 18 16 41 19 52 11 34 -32 0 -66 -53 -38 -59 -111 -102
        -136 -81 -8 7 -15 18 -15 25 0 7 -7 18 -16 25 -8 8 -22 29 -30 48 -8 19 -41
        62 -74 95 -33 34 -63 69 -66 79 -4 15 -9 16 -19 8 -9 -7 -15 -8 -19 -1 -4 6
        -13 8 -20 5 -18 -7 -81 66 -96 110 -7 21 -14 35 -17 32 -3 -2 5 -33 16 -67 12
        -34 20 -64 17 -66 -3 -3 -17 4 -33 14 -48 34 -50 34 -46 9 3 -13 0 -27 -6 -30
        -6 -4 -11 -1 -11 7 0 8 -7 20 -15 27 -12 10 -16 9 -21 -4 -8 -20 19 -62 62
        -99 19 -16 34 -32 34 -36 0 -4 -19 -38 -42 -77 -41 -66 -42 -72 -40 -143 3
        -86 17 -116 71 -163 46 -40 58 -74 24 -71 -13 2 -23 -2 -23 -7 0 -6 -9 -19
        -20 -30 -11 -11 -20 -33 -20 -49 0 -33 -20 -54 -44 -45 -25 9 -20 -21 6 -39
        19 -13 20 -18 9 -25 -7 -6 -11 -14 -7 -20 3 -6 8 -43 11 -83 3 -41 11 -82 21
        -96 14 -23 14 -26 -3 -46 -16 -20 -16 -20 0 -8 15 12 20 11 37 -4 11 -10 22
        -26 25 -36 5 -14 13 -17 29 -13 14 3 28 -1 39 -14 15 -17 29 -18 109 -15 51 2
        97 8 104 14 6 5 19 7 28 3 11 -4 16 -1 16 10 0 9 7 16 15 16 8 0 15 7 15 16 0
        12 6 15 21 11 15 -4 22 1 29 18 5 13 18 26 29 30 25 7 34 31 21 55 -14 26 -3
        47 28 59 15 5 20 10 12 10 -8 1 -21 5 -29 10 -12 8 -12 13 2 35 21 31 21 36 3
        36 -26 0 -29 22 -6 40 21 16 22 19 11 88 -6 39 -11 75 -11 80 0 10 58 36 114
        53 24 7 35 3 75 -30 62 -51 124 -79 194 -87 43 -5 57 -4 57 6 0 9 11 11 36 7
        28 -5 43 -1 62 13 13 11 31 20 38 20 8 0 11 6 8 15 -4 10 0 15 14 15 12 0 24
        5 27 10 7 12 45 14 46 3 1 -5 3 -36 5 -71 l4 -62 -40 -16 c-21 -9 -42 -25 -45
        -35 -4 -11 -28 -30 -53 -43 -26 -12 -72 -38 -102 -58 -31 -20 -76 -43 -100
        -51 l-45 -16 61 -1 c34 0 85 8 120 20 69 23 205 41 218 29 14 -13 -9 -35 -58
        -53 -32 -12 -51 -29 -75 -66 -42 -65 -78 -90 -130 -90 -28 0 -44 -5 -48 -15
        -6 -17 23 -55 42 -55 6 0 16 -5 23 -12 35 -35 -62 -88 -208 -113 -52 -9 -97
        -18 -99 -20 -1 -2 0 -9 4 -15 4 -7 27 -9 66 -4 64 7 113 -12 107 -43 -4 -19
        -193 -123 -224 -123 -28 0 -75 -20 -89 -38 -8 -9 -22 -10 -59 -3 -41 7 -54 6
        -80 -10 -39 -24 -122 -25 -154 -3 -13 9 -36 43 -53 77 -16 33 -35 64 -42 69
        -6 4 -36 8 -65 8 -51 0 -56 -3 -130 -66 -42 -36 -94 -73 -114 -81 -25 -10 -42
        -26 -54 -51 -24 -52 -81 -124 -112 -144 -33 -20 -173 -55 -268 -67 -106 -13
        -134 -34 -134 -100 0 -44 49 -72 162 -96 15 -3 30 -14 33 -26 9 -29 -90 -132
        -118 -123 -10 3 -24 0 -32 -6 -8 -6 -22 -10 -32 -9 -10 2 -28 -3 -41 -10 -13
        -7 -30 -10 -37 -7 -22 8 -52 75 -65 144 -7 34 -17 62 -22 62 -12 0 0 -63 23
        -123 19 -49 24 -93 13 -121 -7 -18 -49 -22 -59 -6 -11 17 -54 -23 -55 -50 0
        -28 -16 -50 -37 -50 -11 0 -10 8 3 38 8 20 17 61 19 90 4 43 2 52 -11 52 -11
        0 -15 6 -11 20 4 16 0 20 -19 20 -14 0 -30 10 -40 25 -9 13 -24 27 -34 30 -10
        3 -21 16 -24 28 -4 17 2 29 27 49 47 40 27 34 -55 -17 -40 -25 -76 -41 -81
        -36 -4 4 -30 6 -56 3 -41 -4 -51 -1 -73 21 -18 18 -24 33 -21 51 8 38 -14 32
        -38 -9 -21 -35 -21 -35 -77 -29 -92 9 -120 22 -143 62 -15 28 -19 31 -14 12 3
        -14 8 -36 11 -50 3 -14 -1 -33 -9 -44 -11 -15 -17 -17 -35 -7 -12 6 -22 17
        -22 23 0 7 -10 22 -22 35 -20 22 -21 26 -9 108 l12 85 -38 48 c-21 27 -52 57
        -69 66 -71 39 -196 24 -222 -28 -7 -15 -22 -26 -33 -26 -13 0 -19 -7 -19 -24
        0 -13 -7 -29 -15 -36 -18 -15 -20 -47 -2 -53 8 -3 6 -11 -9 -28 -12 -13 -25
        -39 -29 -56 -7 -34 -13 -37 -68 -33 -63 4 -93 -47 -68 -113 12 -30 67 -55 84
        -38 8 8 20 2 47 -27 19 -21 47 -42 62 -45 24 -6 27 -11 21 -37 -7 -37 14 -41
        23 -4 10 39 48 49 98 25 22 -11 60 -22 83 -26 22 -3 48 -12 56 -18 18 -15 72
        -135 64 -143 -13 -14 -38 8 -69 58 -37 60 -50 46 -19 -22 11 -24 17 -48 14
        -53 -3 -5 -26 -6 -52 -2 -35 5 -52 14 -73 38 -14 18 -29 29 -32 26 -3 -3 10
        -24 29 -46 19 -23 35 -44 35 -48 0 -8 -57 -2 -84 10 -16 7 -18 5 -14 -18 6
        -32 1 -32 -63 -10 -56 20 -68 14 -45 -22 9 -14 14 -30 11 -35 -11 -18 -35 -10
        -45 15 -9 23 -14 25 -81 25 -61 0 -73 -3 -90 -22 l-19 -23 -23 27 c-28 35 -37
        35 -37 3 0 -52 -41 -26 -94 60 -36 59 -45 44 -22 -36 9 -29 16 -63 16 -75 0
        -28 -24 -37 -42 -16 -17 21 -48 88 -48 105 0 7 -9 18 -20 25 -27 17 -25 5 10
        -70 16 -34 30 -69 30 -75 0 -9 -17 -13 -50 -13 -38 0 -54 5 -70 22 -29 32 -36
        15 -10 -27 12 -20 19 -39 16 -42 -3 -4 -23 2 -44 12 -20 11 -40 21 -45 23 -4
        2 -2 -8 5 -23 10 -22 9 -28 -3 -36 -17 -11 -66 -2 -96 17 -26 16 -33 17 -33 5
        0 -4 18 -20 40 -35 47 -31 46 -61 -1 -51 -24 6 -28 3 -31 -21 -2 -21 -10 -30
        -32 -35 -32 -9 -66 4 -66 25 0 8 11 17 25 20 37 9 31 27 -7 19 -31 -6 -31 -6
        -25 28 4 19 18 75 33 124 38 135 38 135 22 135 -9 0 -18 -18 -25 -47 -15 -66
        -78 -205 -103 -225 -32 -26 -60 -12 -60 31 0 20 -8 50 -19 66 -14 23 -16 35
        -8 53 7 16 7 26 -1 34 -9 9 -14 4 -23 -20 -8 -23 -17 -32 -34 -32 -12 0 -28
        -7 -35 -15 -20 -24 -25 -18 -26 25 -1 30 2 40 15 41 24 1 72 32 93 60 10 13
        21 42 25 64 3 22 15 46 25 53 19 14 26 72 8 72 -5 0 -10 -11 -10 -24 0 -37
        -17 -40 -32 -6 -7 16 -16 30 -20 30 -5 0 -8 7 -8 15 0 8 -20 28 -45 45 -36 25
        -45 28 -45 14 0 -14 -10 -16 -80 -12 -80 5 -80 5 -86 -21 -2 -14 -12 -51 -20
        -81 -9 -30 -15 -80 -14 -112 1 -64 -10 -79 -34 -43 -14 21 -19 23 -36 13 -10
        -7 -21 -22 -25 -35 -8 -35 -56 -41 -120 -17 -14 6 -15 2 -10 -27 5 -28 2 -38
        -17 -55 -49 -45 -55 -42 -193 81 -70 63 -131 113 -134 110 -3 -3 33 -44 79
        -90 46 -46 81 -87 78 -90 -6 -6 -129 72 -140 89 -4 6 -10 7 -14 3 -4 -4 2 -16
        14 -27 12 -12 22 -26 22 -33 0 -7 19 -25 41 -41 42 -30 79 -79 79 -106 0 -9
        18 -34 41 -55 56 -55 72 -97 72 -188 0 -26 -3 -50 -7 -54 -3 -4 -21 8 -39 25
        -18 18 -38 32 -44 32 -5 0 -30 -15 -53 -34 l-43 -34 -51 15 c-28 8 -73 26
        -101 40 -27 14 -71 36 -96 49 -54 28 -69 30 -69 9 0 -8 19 -24 43 -36 23 -12
        66 -39 96 -60 30 -22 64 -39 76 -39 12 0 34 -9 48 -20 14 -11 31 -20 39 -20
        17 0 38 -20 38 -36 0 -20 -50 -74 -69 -74 -9 0 -26 -6 -37 -14 -19 -14 -18
        -15 4 -60 26 -54 28 -76 7 -76 -24 0 -29 -28 -10 -50 9 -10 14 -24 10 -29 -10
        -17 -40 -13 -60 9 -20 22 -55 27 -55 9 0 -7 9 -27 21 -45 16 -27 27 -34 52
        -34 38 0 65 -14 48 -24 -6 -4 -11 -16 -11 -26 0 -10 -9 -22 -20 -25 -12 -4
        -19 -14 -18 -23 2 -11 -9 -19 -37 -28 -112 -34 -128 -55 -21 -28 83 21 96 16
        96 -36 0 -29 5 -43 20 -52 25 -16 26 -47 3 -87 -16 -28 -16 -33 -3 -41 8 -5
        34 -10 58 -10 51 0 63 -19 38 -61 l-17 -28 36 -15 c19 -8 35 -20 35 -26 0 -25
        -62 -159 -81 -176 -19 -17 -49 -65 -49 -79 0 -36 112 77 123 126 11 45 63 107
        97 114 51 11 57 -7 21 -59 -57 -82 -78 -156 -46 -156 21 0 53 35 90 98 21 37
        36 52 52 52 12 0 28 3 37 6 10 4 17 -2 21 -18 6 -22 9 -23 68 -17 34 3 69 7
        77 10 12 3 16 -7 18 -44 2 -37 -4 -61 -28 -110 -28 -58 -59 -174 -60 -224 0
        -47 33 -18 71 62 13 28 27 52 31 55 3 3 10 18 14 34 5 20 9 24 15 15 15 -25
        18 -3 9 61 -17 115 -21 108 69 109 89 1 84 5 97 -81 7 -52 20 -60 49 -28 10
        11 29 20 42 20 24 0 31 14 13 25 -6 3 -10 20 -10 37 0 23 10 41 40 69 22 21
        40 47 40 59 0 11 12 30 27 43 14 12 33 30 41 39 19 21 32 14 32 -15 0 -18 2
        -19 10 -7 5 8 7 23 4 32 -4 13 0 18 16 18 33 0 34 -26 1 -74 -35 -50 -37 -56
        -18 -56 7 0 23 18 37 40 35 57 65 62 104 19 17 -19 38 -45 46 -58 13 -20 23
        -23 72 -22 37 0 72 8 97 21 48 24 71 26 71 4 0 -13 4 -13 30 3 17 9 33 26 36
        38 4 11 20 35 35 53 16 18 39 52 51 75 l23 42 9 -57 c5 -32 13 -58 17 -58 4 0
        10 35 14 77 9 99 18 133 50 188 29 50 48 55 81 24 29 -27 49 -20 57 20 4 18
        18 43 32 57 21 21 28 24 41 13 10 -8 13 -21 9 -38 -5 -21 -4 -23 9 -12 9 7 26
        30 38 50 12 20 27 39 32 43 18 13 36 9 36 -7 0 -19 9 -19 32 2 17 15 18 14 24
        -15 7 -36 23 -42 31 -12 7 27 26 20 33 -11 8 -34 40 -38 40 -6 0 20 11 31 47
        51 26 15 52 25 59 22 12 -5 25 -41 39 -108 9 -46 26 -32 24 18 -2 36 1 50 16
        60 27 20 35 17 35 -10 0 -31 10 -56 21 -56 5 0 16 18 25 40 18 45 66 90 95 90
        12 0 21 -9 25 -27 12 -55 16 -63 30 -63 16 0 18 18 4 54 -12 33 -3 58 20 51
        25 -8 87 21 93 45 8 30 22 24 32 -12 6 -19 18 -34 28 -36 16 -3 18 0 11 20
        -14 41 -10 72 9 76 13 3 17 -3 17 -25 0 -15 5 -35 10 -43 8 -13 10 -13 10 1 0
        22 38 55 49 43 5 -5 11 -37 13 -72 4 -54 19 -95 32 -81 2 2 0 31 -5 64 -10 74
        -4 97 24 93 14 -2 25 -17 36 -48 16 -45 16 -45 19 -13 5 46 22 56 63 36 19 -9
        40 -25 47 -35 17 -23 47 -9 56 27 9 34 44 48 73 29 35 -22 45 -18 38 15 -7 34
        6 45 72 56 24 4 45 11 49 16 3 5 14 9 25 9 14 0 21 -9 26 -30 l6 -31 18 30
        c18 29 19 30 98 28 79 -2 80 -1 116 33 l37 35 -7 -38 c-9 -45 8 -51 23 -8 8
        24 18 31 48 37 22 4 50 2 68 -4 24 -9 34 -9 53 3 31 21 56 19 88 -7 24 -19 31
        -20 59 -10 38 15 51 2 61 -63 6 -46 25 -65 63 -65 17 0 21 11 30 71 15 100 56
        143 67 72 13 -82 14 -83 45 -83 23 0 31 5 36 24 3 13 1 33 -5 45 -16 29 14 44
        62 30 31 -8 38 -16 46 -47 5 -20 14 -53 19 -72 l10 -35 1 33 c1 20 7 35 17 39
        16 6 22 1 51 -44 10 -14 11 -3 6 57 -6 85 5 106 50 95 22 -6 25 -14 33 -76 5
        -38 14 -70 19 -70 6 0 13 28 16 61 8 83 21 94 58 50 34 -41 48 -35 31 14 -6
        20 -9 40 -5 46 11 17 54 11 76 -11 17 -17 19 -28 14 -62 -4 -23 -11 -43 -16
        -45 -5 -2 -9 -10 -9 -17 0 -8 -6 -20 -13 -27 -16 -16 -51 -107 -44 -114 3 -3
        22 19 43 48 22 29 60 73 86 96 54 50 60 46 73 -42 7 -49 104 -349 124 -383 20
        -35 12 23 -13 89 -37 101 -49 168 -32 182 23 17 23 96 0 131 -24 37 -28 153
        -4 165 47 23 181 60 216 60 48 0 143 -26 165 -46 8 -8 29 -14 45 -14 34 0 55
        -16 47 -37 -3 -7 2 -22 12 -33 27 -30 12 -54 -28 -46 -84 16 -115 18 -122 7
        -9 -16 13 -41 36 -41 11 0 19 7 19 15 0 23 16 18 34 -10 19 -29 40 -31 113 -8
        l53 17 38 -37 c21 -20 47 -37 59 -37 13 0 31 -13 43 -30 21 -29 16 -42 -7 -19
        -16 16 -31 4 -48 -37 -13 -32 -17 -34 -36 -24 -16 9 -20 9 -14 1 3 -6 -4 -20
        -16 -30 -20 -16 -24 -31 -31 -122 -4 -57 -10 -128 -14 -157 -6 -49 -5 -54 11
        -50 14 2 26 34 54 147 29 116 40 147 59 159 13 9 26 11 31 6 5 -5 5 -58 0
        -117 -10 -122 -5 -152 42 -278 24 -66 32 -105 36 -184 8 -152 -19 -335 -50
        -335 -5 0 -6 -7 -3 -16 9 -23 -20 -184 -50 -281 -20 -64 -23 -86 -14 -102 24
        -47 56 -6 75 95 7 43 25 122 39 174 14 52 30 136 36 185 7 57 20 109 35 141
        22 45 25 63 23 155 -1 86 2 114 21 161 32 82 61 120 98 130 17 5 42 22 55 39
        13 16 35 44 49 61 l26 31 48 -24 c26 -13 51 -33 56 -44 15 -37 78 -279 84
        -325 10 -68 34 -150 45 -150 15 0 12 25 -15 145 -33 148 -33 164 5 172 34 6
        39 26 10 46 -24 17 -35 47 -44 119 -9 73 -3 93 36 109 28 11 33 11 48 -8 9
        -11 42 -85 75 -164 140 -345 164 -395 178 -372 4 7 -21 72 -129 328 -45 108
        -56 191 -28 212 10 7 21 13 26 13 4 0 35 -24 68 -54 34 -30 78 -60 98 -67 69
        -22 106 -70 164 -213 29 -72 72 -165 95 -206 24 -41 59 -109 79 -150 68 -144
        89 -184 128 -244 77 -120 46 -32 -68 188 -117 227 -176 363 -196 452 -12 54
        -89 193 -106 194 -11 0 -25 28 -39 79 -6 19 -4 23 8 18 11 -4 7 16 -16 86 -29
        91 -29 93 -18 192 6 55 19 131 28 169 18 71 39 96 91 111 21 6 22 4 16 -21 -5
        -18 -3 -25 3 -21 11 7 23 -14 23 -39 0 -12 -4 -13 -21 -3 -20 10 -21 9 -15
        -14 5 -21 2 -26 -19 -31 -14 -4 -25 -10 -25 -15 0 -13 49 -51 65 -51 7 0 36
        -21 64 -46 28 -25 51 -41 51 -36 0 5 -16 36 -35 68 -39 64 -42 79 -19 88 10 4
        13 13 9 26 -10 33 4 42 32 20 35 -27 40 -26 47 19 10 65 28 70 82 22 29 -26
        59 -42 83 -46 20 -3 70 -17 111 -30 86 -29 120 -32 120 -10 0 18 -23 30 -73
        39 -33 6 -149 62 -217 104 -14 9 -35 15 -46 14 -21 -3 -21 -1 -12 50 9 54 35
        88 67 88 10 0 26 7 37 15 28 21 54 19 54 -5 0 -23 25 -27 34 -5 3 8 9 15 14
        15 14 0 76 -64 89 -92 6 -14 29 -34 52 -45 36 -18 39 -18 31 -3 -5 10 -6 20
        -3 24 14 13 64 5 84 -15 17 -17 19 -28 14 -72 l-7 -53 39 4 c39 4 40 3 101
        -79 34 -45 62 -78 62 -73 0 6 -25 44 -56 84 -31 41 -51 76 -46 78 6 2 47 -15
        91 -38 58 -29 85 -48 91 -66 15 -38 12 -44 -15 -44 -40 0 -31 -28 42 -125 37
        -50 82 -114 99 -142 30 -50 31 -55 18 -90 -18 -51 -17 -88 2 -107 22 -23 44
        -20 44 6 0 12 8 30 17 40 15 17 15 25 0 110 -15 85 -19 95 -54 128 -46 42 -72
        95 -54 113 26 26 48 -5 131 -187 22 -50 58 -113 79 -140 21 -28 66 -99 100
        -158 57 -97 90 -132 108 -114 11 11 -27 92 -67 140 -42 51 -54 79 -48 117 3
        22 8 24 77 27 86 3 89 1 162 -104 51 -73 86 -101 113 -91 28 11 18 35 -40 98
        -35 38 -53 66 -50 76 3 8 6 17 6 19 0 2 12 4 28 4 33 0 68 -21 147 -89 33 -29
        85 -63 115 -76 30 -14 76 -36 101 -49 40 -21 48 -22 76 -11 48 20 49 45 8 123
        -47 91 -105 122 -105 58 0 -13 -8 -34 -19 -47 -18 -23 -19 -23 -63 -6 -59 23
        -137 101 -122 124 14 23 92 52 142 52 59 1 96 -17 174 -82 86 -73 145 -104
        216 -112 31 -4 84 -20 117 -36 71 -34 172 -61 197 -53 23 7 40 38 32 58 -3 9
        -20 20 -37 24 -50 14 -207 42 -269 48 -45 4 -71 14 -118 45 -107 72 -300 254
        -300 283 0 4 19 15 43 25 23 10 48 26 56 35 7 9 24 16 37 16 15 0 24 6 24 15
        0 21 33 19 80 -5 22 -11 51 -20 65 -20 14 0 25 -3 25 -6 0 -3 -18 -28 -40 -54
        -58 -69 -75 -161 -32 -174 81 -25 324 -56 369 -48 16 2 40 17 54 32 19 20 43
        31 85 39 32 7 79 19 104 27 25 9 67 21 93 27 49 11 54 10 196 -41 8 -3 12 0
        10 7 -3 7 -22 19 -43 26 -51 18 -52 20 -33 60 9 19 23 65 32 102 9 37 32 101
        52 142 36 75 36 76 30 173 -4 63 -2 107 5 123 12 27 141 100 162 92 7 -3 28
        -41 45 -86 41 -100 99 -159 210 -212 67 -32 146 -24 197 21 21 18 57 41 80 51
        23 10 47 25 53 33 9 11 39 14 119 15 l107 0 70 -60 c107 -92 170 -127 287
        -155 162 -40 270 -75 303 -99 17 -11 46 -28 65 -35 19 -8 50 -24 68 -37 41
        -27 98 -47 117 -39 18 7 20 40 3 54 -7 5 -45 21 -83 35 -39 14 -100 41 -135
        60 -36 20 -105 47 -155 62 -51 14 -109 39 -132 56 -24 17 -70 43 -103 58 -60
        27 -61 27 -40 46 33 30 25 56 -34 112 -82 77 -100 161 -45 215 28 28 34 30 80
        25 28 -4 74 -17 102 -30 51 -24 124 -44 182 -49 44 -4 47 27 3 36 -36 7 -78
        32 -78 46 0 17 64 54 129 73 36 10 103 22 149 26 63 6 87 12 103 27 l20 20
        -20 26 -20 25 -246 0 -245 -1 -38 37 c-48 49 -39 64 58 92 41 11 87 29 102 39
        18 12 42 17 70 15 58 -4 85 7 104 42 14 29 14 31 -15 59 -21 22 -39 30 -63 30
        -19 0 -70 9 -113 21 -68 18 -95 19 -201 13 -116 -6 -124 -5 -159 16 -50 31
        -44 56 13 53 l43 -2 -5 39 c-2 21 -7 44 -11 49 -8 14 -44 14 -84 0 -35 -12
        -44 -6 -76 53 -13 23 -13 31 -3 48 11 18 10 23 -16 44 -33 26 -29 31 31 41 54
        9 77 34 68 75 -10 45 -59 64 -143 57 -80 -6 -132 7 -132 33 0 31 28 39 211 60
        95 12 176 23 181 26 17 11 7 34 -18 40 -28 7 -165 -3 -211 -15 -29 -8 -86 13
        -213 78 -65 33 -81 66 -61 132 10 34 19 43 59 60 25 11 60 19 77 17 56 -5 134
        23 167 60 23 27 27 37 16 43 -21 14 -65 10 -127 -11 -93 -31 -395 -45 -441
        -20 -26 14 -25 36 0 50 11 6 20 15 20 19 0 14 -90 61 -116 61 -20 0 -24 5 -24
        30 0 28 -2 29 -32 24 l-33 -5 25 18 c14 10 41 34 60 54 19 20 43 39 53 42 28
        10 20 -16 -15 -45 l-33 -27 47 -1 c43 0 49 3 63 30 21 40 75 69 238 126 97 34
        131 50 112 52 -43 6 -313 -48 -425 -84 -58 -18 -124 -36 -148 -40 -25 -4 -47
        -14 -52 -24 -6 -11 -32 -21 -79 -28 -93 -16 -97 -16 -78 6 10 10 14 22 10 25
        -14 14 -34 6 -43 -18 -5 -14 -26 -33 -46 -42 -28 -14 -42 -30 -59 -70 -20 -44
        -29 -53 -62 -62 -21 -6 -43 -11 -50 -11 -19 0 -66 68 -59 86 10 27 -13 53 -76
        85 -148 75 -229 158 -208 214 15 40 4 46 -42 25 -37 -16 -45 -17 -68 -5 -36
        19 -60 57 -60 97 0 49 11 58 81 68 35 6 89 17 119 25 74 20 85 19 96 -10 l9
        -25 53 42 c56 44 45 41 532 169 118 31 192 58 310 114 96 44 190 81 245 94 50
        12 149 42 220 66 72 24 207 60 300 80 201 44 395 106 560 182 66 31 178 77
        248 104 118 45 137 49 230 52 111 4 101 1 392 120 151 62 451 157 540 170 l40
        7 -42 -20 c-23 -10 -169 -64 -325 -119 -156 -54 -308 -109 -338 -121 -95 -39
        -237 -89 -490 -174 -242 -82 -631 -226 -680 -251 -14 -7 -39 -19 -57 -25 -18
        -7 -31 -17 -30 -23 1 -6 -30 -20 -68 -32 -82 -23 -180 -77 -152 -83 25 -5 208
        51 371 115 78 30 229 85 336 123 209 74 250 89 435 169 66 29 154 62 194 73
        82 22 217 70 332 117 41 16 164 62 274 101 110 39 223 80 250 91 28 11 113 43
        190 71 101 38 149 60 171 83 27 26 53 37 180 70 147 37 336 90 709 198 318 92
        557 156 754 202 105 25 131 37 131 61 0 22 -61 16 -185 -16z m-10842 -1872
        c50 -63 78 -132 80 -198 2 -45 -1 -55 -15 -58 -21 -4 -25 27 -6 46 9 9 7 12
        -10 12 -13 0 -22 6 -22 15 0 8 -4 15 -10 15 -5 0 -10 7 -10 15 0 11 -7 13 -28
        9 -19 -4 -32 -1 -41 10 -8 9 -20 16 -27 16 -8 0 -14 5 -14 11 0 6 -7 18 -16
        26 -13 13 -20 14 -35 5 -15 -10 -49 -7 -49 3 0 13 85 85 100 85 11 0 20 7 20
        15 0 16 32 37 41 27 3 -4 22 -28 42 -54z m4702 -528 c17 -6 37 -22 46 -38 21
        -38 119 -88 219 -111 46 -11 87 -24 92 -29 15 -15 -72 -79 -117 -87 -22 -4
        -75 -27 -117 -51 -78 -43 -78 -43 -78 -18 0 13 -3 24 -7 24 -4 0 -33 -25 -65
        -57 -44 -44 -64 -56 -88 -56 -47 0 -57 16 -37 58 9 20 17 40 17 46 0 14 -68
        -70 -76 -93 -7 -20 -35 -23 -65 -8 -25 14 -24 27 4 51 l22 19 -27 -6 c-33 -7
        -35 -1 -8 33 11 14 17 29 15 34 -12 18 -64 -15 -137 -85 -79 -76 -112 -96
        -131 -77 -20 20 82 124 172 173 36 20 41 39 9 31 -18 -4 -12 5 26 45 28 29 47
        55 43 59 -4 4 -51 -36 -105 -89 -53 -53 -125 -113 -159 -132 -38 -22 -93 -70
        -145 -126 -46 -49 -90 -90 -96 -90 -14 0 -15 2 -2 34 12 34 -4 34 -26 1 -9
        -14 -13 -32 -10 -41 9 -23 -22 -68 -37 -56 -7 5 -29 12 -49 16 -23 4 -46 18
        -62 37 -41 48 -42 70 -5 122 28 40 31 50 21 71 -6 14 -25 32 -42 41 -16 8 -30
        17 -30 19 0 30 81 95 143 115 20 7 39 17 43 22 3 6 0 39 -7 74 -11 59 -11 66
        6 85 24 27 41 25 100 -10 28 -16 63 -30 79 -30 24 0 27 -2 16 -15 -17 -21 -10
        -26 38 -28 29 -1 51 6 79 26 34 23 49 27 112 27 61 0 72 3 67 15 -7 18 -3 18
        58 0 56 -17 76 -19 76 -6 0 5 -14 11 -31 15 -46 9 -30 30 27 36 l49 6 -35 12
        c-30 10 -19 11 75 6 61 -3 124 -9 140 -14z m-4420 -602 c5 -50 3 -58 -15 -68
        -12 -6 -20 -21 -20 -35 0 -20 -5 -25 -24 -25 -19 0 -25 -6 -28 -27 -2 -19 -9
        -28 -19 -27 -12 1 -19 -10 -23 -38 -4 -22 -18 -66 -31 -99 -14 -32 -25 -68
        -25 -79 0 -12 -5 -18 -10 -15 -17 10 -22 -21 -12 -69 l10 -46 -38 30 c-39 31
        -60 38 -60 19 0 -5 -4 -8 -9 -4 -5 3 -13 0 -16 -6 -4 -5 -13 -8 -21 -5 -9 3
        -17 -2 -20 -12 -3 -9 -9 -24 -14 -32 -9 -18 4 -40 35 -59 19 -12 19 -12 -2 -8
        -28 6 -29 1 -3 -13 28 -15 64 22 56 56 -5 17 -2 24 9 24 8 0 15 -5 15 -11 0
        -6 9 -8 21 -4 22 7 39 -7 39 -33 0 -12 -40 -33 -70 -36 -9 0 -27 -11 -40 -24
        -20 -19 -26 -20 -28 -8 -3 13 -6 13 -22 -1 -18 -16 -18 -17 13 -44 19 -16 34
        -24 38 -18 3 6 8 10 10 9 2 -1 12 2 22 5 30 12 44 -1 39 -34 -2 -17 -9 -31
        -16 -31 -15 0 16 -20 31 -20 9 0 10 7 3 25 -11 28 -4 34 39 40 23 3 32 -1 36
        -16 8 -24 -3 -42 -21 -35 -17 6 -30 -13 -25 -38 2 -16 -2 -18 -27 -13 -16 3
        -34 1 -40 -5 -8 -8 -15 -8 -26 1 -8 7 -20 10 -26 6 -5 -3 -10 0 -10 8 0 8 -7
        17 -15 21 -9 3 -15 0 -15 -9 0 -9 -6 -12 -15 -9 -11 4 -16 -4 -21 -33 -3 -21
        -6 -42 -7 -47 -3 -16 55 -27 72 -13 11 9 15 9 18 0 3 -7 11 -13 19 -13 8 0 14
        -6 14 -13 0 -11 -12 -12 -62 -4 -35 5 -66 14 -69 19 -4 7 -9 6 -13 -1 -4 -6
        -16 -11 -27 -11 -10 0 -19 -5 -19 -12 0 -9 -3 -9 -12 0 -10 10 -10 17 0 32 11
        17 10 21 -5 26 -10 3 -26 10 -36 15 -11 6 -23 7 -30 1 -7 -5 -25 -12 -40 -16
        -23 -5 -26 -10 -17 -21 15 -18 -4 -29 -29 -15 -11 5 -28 10 -39 10 -11 0 -30
        8 -43 19 -13 10 -37 18 -54 18 -16 0 -24 -2 -17 -4 26 -10 0 -21 -35 -16 -47
        8 -100 39 -108 63 -7 23 -31 29 -72 16 -27 -8 -37 -6 -54 9 -16 15 -22 17 -28
        6 -7 -11 -11 -10 -18 4 -8 13 -19 16 -47 13 -32 -4 -36 -2 -36 19 0 16 -6 23
        -20 23 -13 0 -20 7 -20 20 0 12 -7 20 -17 21 -10 0 -3 6 15 12 35 13 54 35 45
        51 -4 5 7 20 23 33 16 12 23 23 17 23 -20 0 -15 16 10 29 l22 12 -23 -5 c-17
        -3 -23 1 -28 19 -7 29 11 65 33 65 13 0 13 -3 3 -15 -10 -12 -10 -15 4 -15 9
        0 16 -5 16 -10 0 -7 6 -7 20 0 24 13 56 70 40 70 -6 0 -18 7 -26 15 -9 9 -34
        15 -58 15 -63 0 -104 10 -111 28 -3 8 -3 17 0 20 2 3 50 -3 105 -13 91 -17
        100 -21 100 -41 0 -12 7 -27 15 -34 18 -15 45 -6 45 15 0 14 4 13 26 -4 15
        -11 30 -18 34 -16 5 3 11 -4 15 -15 7 -20 25 -28 25 -10 0 6 10 10 21 10 18 0
        19 2 9 15 -11 13 -8 14 19 11 17 -2 34 1 37 6 4 6 19 7 35 4 15 -3 31 -1 34 5
        4 5 15 7 24 4 24 -7 124 71 127 99 0 6 2 26 2 44 2 29 5 32 33 32 25 0 29 3
        24 19 -4 14 0 23 15 31 11 6 20 21 20 34 0 13 5 37 11 55 10 27 18 33 47 30 4
        0 9 10 12 23 3 13 12 23 20 23 9 0 14 9 13 22 -2 17 2 20 20 16 12 -3 32 -15
        45 -27 22 -20 24 -20 36 -4 10 13 15 15 24 6 9 -9 12 -6 12 15 0 27 0 27 74
        27 61 0 77 3 88 18 35 50 66 29 73 -50z m-2395 -540 c19 -21 25 -42 22 -82 -2
        -14 2 -16 15 -11 58 24 81 10 97 -59 6 -25 5 -28 -11 -21 -10 4 -28 10 -41 13
        -13 2 -26 11 -29 18 -8 21 -23 17 -33 -8 -8 -21 -9 -21 -9 -3 -1 14 -4 16 -12
        8 -16 -16 -84 40 -98 80 -9 25 -8 32 6 43 10 7 27 19 38 28 26 20 31 20 55 -6z
        m7558 -64 c21 -9 52 -22 71 -30 18 -8 42 -12 53 -8 11 3 -6 -20 -39 -53 -66
        -66 -80 -105 -67 -190 8 -52 -2 -55 -54 -13 -32 25 -61 35 -192 61 -154 31
        -231 60 -244 94 -3 8 -12 15 -20 15 -20 0 -46 39 -46 68 0 18 5 23 22 20 16
        -2 24 -12 29 -36 4 -18 15 -42 25 -53 42 -47 135 -74 173 -50 11 7 11 15 0 45
        -17 46 -7 57 58 63 36 4 56 13 83 38 50 47 89 55 148 29z"/>
        <path d="M10076 7458 c-41 -114 -156 -488 -156 -509 0 -20 21 -7 31 19 11 27
        146 468 156 510 10 39 -15 23 -31 -20z"/>
        <path d="M12792 7412 c-71 -36 -112 -78 -112 -114 0 -22 39 -24 78 -4 36 19
        135 123 130 138 -7 21 -22 18 -96 -20z"/>
        <path d="M7074 6965 c-3 -8 -1 -29 5 -47 7 -18 18 -77 27 -132 8 -54 17 -102
        20 -107 10 -16 33 -9 39 12 6 19 -28 219 -46 267 -10 25 -37 30 -45 7z"/>
        <path d="M3752 6754 c-8 -14 -20 -16 -66 -12 -31 3 -59 1 -62 -4 -3 -4 -15 -8
        -28 -8 -12 0 -31 -7 -42 -15 -10 -8 -29 -15 -41 -15 -16 0 -23 -6 -23 -20 0
        -13 -7 -20 -19 -20 -13 0 -20 -9 -24 -30 -5 -21 -12 -30 -26 -30 -25 0 -35
        -17 -33 -53 2 -19 -6 -35 -24 -52 -25 -23 -26 -28 -15 -52 11 -23 10 -29 -5
        -40 -12 -9 -15 -20 -10 -40 13 -54 12 -57 -24 -69 l-35 -12 36 -16 c53 -22 66
        -42 44 -66 -17 -19 -17 -20 0 -20 14 0 15 -3 5 -15 -10 -12 -9 -15 6 -15 11 0
        28 -14 39 -30 11 -16 26 -30 33 -30 6 0 12 -9 12 -20 0 -13 5 -18 15 -14 8 4
        17 -1 21 -10 3 -9 13 -16 20 -16 8 0 17 -7 20 -15 4 -10 14 -13 30 -9 18 5 24
        2 24 -10 0 -21 10 -20 25 1 11 14 16 15 28 5 13 -11 19 -11 36 0 18 11 23 10
        35 -7 14 -19 15 -19 33 -2 13 11 36 17 67 17 40 0 48 3 55 24 10 24 36 40 51
        31 4 -3 13 2 20 10 7 8 19 15 26 15 8 0 14 5 14 11 0 7 10 9 25 5 22 -6 24 -4
        14 11 -13 22 4 73 25 73 18 0 49 47 36 55 -16 10 -12 21 13 33 12 6 16 11 10
        11 -26 2 -12 20 20 27 29 6 30 7 11 15 -32 11 -36 24 -13 45 l21 19 -23 5
        c-39 9 -47 35 -19 65 l23 25 -22 0 c-27 0 -46 42 -31 71 9 16 7 19 -10 19 -11
        0 -20 4 -20 9 0 5 -8 17 -17 27 -10 9 -16 28 -15 41 3 22 2 23 -17 11 -17 -11
        -23 -10 -37 4 -17 17 -16 27 13 68 17 25 17 25 -4 7 -14 -12 -29 -16 -46 -12
        -14 4 -28 2 -31 -4 -12 -20 -46 -13 -46 9 0 18 -2 19 -21 8 -17 -11 -22 -10
        -34 5 -12 17 -14 17 -23 1z"/>
        <path d="M5359 6373 c-18 -51 -20 -58 -20 -63 0 -3 -8 -14 -18 -25 -38 -43
        -79 -113 -101 -172 -12 -35 -27 -63 -31 -63 -5 0 -9 -13 -9 -28 0 -15 -4 -32
        -10 -38 -6 -6 -4 -19 5 -38 8 -16 15 -36 15 -46 0 -10 7 -20 15 -24 8 -3 20
        -17 27 -31 6 -14 17 -25 24 -25 6 0 14 -7 18 -15 3 -10 19 -15 48 -15 24 0 55
        -6 70 -14 23 -12 27 -12 32 0 7 19 46 1 46 -21 0 -8 5 -15 10 -15 6 0 10 6 10
        14 0 24 25 37 52 27 14 -5 31 -5 38 -1 8 5 22 4 31 -1 12 -6 20 -5 24 1 4 6
        19 -7 35 -29 20 -26 41 -43 65 -50 34 -9 36 -8 106 60 59 58 70 74 65 93 -4
        15 0 28 9 36 10 8 11 17 5 28 -6 10 -14 28 -20 42 -15 37 -32 62 -59 84 -19
        16 -22 26 -17 54 3 19 13 43 22 53 26 29 9 34 -26 9 -19 -13 -29 -28 -26 -36
        3 -9 -3 -18 -17 -23 -12 -5 -31 -18 -41 -30 -21 -23 -41 -27 -51 -11 -6 10 67
        113 99 139 21 17 20 31 0 31 -18 0 -98 -77 -126 -120 -14 -21 -19 -23 -35 -13
        -10 6 -16 17 -14 25 14 52 14 54 -6 32 -24 -28 -62 -37 -70 -18 -3 8 -12 13
        -19 10 -8 -3 -22 4 -33 15 -24 26 -123 29 -150 5 -51 -46 -43 2 23 132 20 39
        36 78 36 87 0 25 -20 17 -31 -12z"/>
        <path d="M16294 6346 c-22 -6 -112 -28 -200 -50 -87 -21 -258 -65 -379 -97
        -121 -32 -281 -72 -355 -89 -74 -16 -189 -46 -255 -65 -66 -20 -169 -47 -228
        -60 -60 -14 -193 -51 -295 -84 -166 -53 -202 -61 -317 -70 -91 -7 -178 -23
        -289 -51 -88 -22 -179 -40 -203 -40 -34 0 -49 -6 -68 -26 -20 -21 -54 -34
        -177 -65 -164 -41 -248 -74 -248 -97 0 -9 6 -12 18 -7 9 3 85 13 167 21 83 8
        191 25 240 38 50 13 173 45 275 70 102 26 239 65 305 86 148 47 401 115 640
        170 99 23 223 55 275 70 121 36 208 59 450 121 107 28 267 70 355 94 88 24
        197 54 243 66 45 12 92 29 104 39 21 17 21 17 2 27 -13 7 -32 7 -60 -1z"/>
        <path d="M4795 6336 c-5 -2 -36 -12 -69 -21 -59 -18 -116 -63 -116 -92 0 -8
        -9 -27 -20 -43 -18 -25 -19 -34 -9 -86 18 -103 79 -168 168 -180 32 -4 55 -13
        60 -23 5 -9 30 -22 56 -30 43 -13 51 -12 94 5 43 18 46 22 49 62 4 48 22 58
        22 11 0 -24 4 -30 18 -27 10 2 17 13 18 28 0 14 3 31 8 38 5 8 -1 12 -22 12
        -16 0 -37 9 -47 20 -16 18 -16 20 -2 20 23 0 39 36 32 71 -5 21 -2 31 9 35 14
        5 14 8 0 29 -11 16 -13 34 -8 60 6 35 5 37 -15 30 -15 -5 -21 -2 -21 10 0 8
        -8 18 -17 22 -10 3 -37 14 -59 24 -42 18 -110 31 -129 25z"/>
        <path d="M9172 6189 c-86 -34 -120 -111 -83 -194 22 -49 54 -69 128 -80 137
        -21 186 199 61 275 -40 24 -40 24 -106 -1z"/>
        <path d="M13199 6036 c-2 -3 -48 -12 -101 -20 -141 -23 -348 -92 -348 -116 0
        -36 260 29 420 104 41 19 66 35 54 36 -11 0 -23 -2 -25 -4z"/>
        <path d="M14894 5409 c-56 -21 -121 -80 -130 -116 -4 -13 -3 -35 1 -50 23 -91
        129 -145 284 -144 90 1 143 14 272 70 103 44 161 52 190 25 21 -19 30 -19 174
        -5 126 13 135 15 135 35 0 31 -39 39 -144 30 -197 -16 -217 -14 -277 33 -144
        110 -231 143 -368 142 -60 0 -101 -6 -137 -20z"/>
        <path d="M5895 4921 c-3 -11 -22 -28 -41 -38 -31 -16 -46 -36 -85 -115 -5 -11
        -3 -18 7 -22 10 -4 13 -13 8 -30 -9 -35 56 -95 106 -98 61 -3 94 2 102 16 4 8
        19 17 33 20 16 4 25 13 25 26 0 10 4 21 9 24 21 13 20 66 -1 103 -33 58 -49
        74 -70 67 -10 -3 -18 -1 -18 5 0 6 -11 11 -25 11 -20 0 -25 5 -25 25 0 30 -16
        33 -25 6z"/>
        <path d="M1244 4852 c-27 -9 -68 -43 -81 -67 -6 -11 -12 -37 -14 -57 -3 -32 2
        -44 33 -77 34 -37 40 -40 83 -36 72 6 103 24 121 72 25 64 0 119 -70 153 -23
        11 -44 20 -47 19 -2 -1 -13 -4 -25 -7z"/>
        <path d="M5238 4689 c-21 -10 -42 -28 -48 -38 -13 -25 -13 -98 0 -106 6 -3 10
        -14 10 -23 0 -23 106 -56 114 -36 3 8 12 14 20 14 22 0 56 49 56 82 0 52 -26
        96 -66 113 -44 18 -41 19 -86 -6z"/>
        <path d="M2664 4605 c-12 -27 -25 -60 -28 -72 -4 -11 -13 -27 -21 -33 -12 -10
        -15 -9 -15 6 -1 18 -1 18 -11 2 -14 -26 -69 -24 -76 2 -4 16 -9 18 -25 9 -14
        -8 -24 -7 -35 3 -19 15 -55 12 -65 -7 -5 -7 -17 -11 -28 -8 -12 3 -20 0 -20
        -6 0 -7 -4 -9 -10 -6 -5 3 -10 1 -10 -4 0 -6 4 -11 9 -11 18 0 21 -33 5 -57
        -12 -19 -19 -22 -27 -14 -18 18 -92 13 -109 -6 -40 -46 -43 -87 -10 -131 17
        -22 44 -27 102 -20 20 2 25 -1 25 -19 0 -12 9 -32 21 -45 11 -13 19 -28 17
        -34 -3 -9 77 -9 145 0 31 5 32 3 32 -28 0 -26 5 -35 23 -40 40 -10 97 5 114
        30 8 13 21 24 27 24 35 0 69 92 70 192 1 36 -1 65 -3 62 -11 -11 -51 42 -51
        68 0 32 -6 35 -31 12 -19 -17 -39 -12 -39 10 0 8 12 39 26 70 14 31 24 66 22
        78 -2 18 -7 13 -24 -27z"/>
        <path d="M470 4572 c0 -5 -19 -12 -42 -15 -30 -4 -48 -13 -61 -31 -11 -15 -28
        -26 -42 -26 -13 0 -27 -5 -30 -10 -4 -6 -15 -8 -25 -5 -15 5 -17 2 -13 -16 5
        -18 3 -20 -16 -14 -25 8 -26 3 -6 -36 17 -32 19 -29 -29 -43 -10 -3 -13 -16
        -10 -43 14 -145 14 -146 -43 -163 -21 -6 -23 -8 -8 -9 12 -1 36 -14 55 -30 30
        -25 33 -31 21 -45 -12 -14 -11 -16 6 -16 10 0 28 -6 38 -14 16 -11 17 -16 7
        -29 -11 -13 -10 -15 7 -10 16 4 21 1 21 -16 0 -15 6 -21 21 -21 11 0 30 -5 42
        -12 38 -20 159 -39 173 -27 7 6 18 8 23 4 6 -3 22 2 37 11 20 13 30 15 43 7
        14 -9 20 -7 29 8 7 10 16 19 20 19 5 0 28 18 52 40 23 22 47 37 51 34 5 -3 9
        6 9 19 0 13 11 34 25 47 17 16 23 30 19 46 -3 13 1 33 11 48 16 24 16 26 1 26
        -14 0 -16 8 -12 50 3 28 1 50 -4 50 -4 0 -14 16 -20 35 -6 19 -27 53 -46 76
        -19 22 -34 44 -34 48 0 4 -24 18 -52 32 -29 13 -56 28 -59 33 -4 5 -12 5 -19
        1 -14 -9 -94 -8 -122 1 -10 3 -18 1 -18 -4z"/>
        <path d="M1677 4534 c-4 -4 -33 -9 -64 -11 -85 -5 -124 -26 -157 -84 -15 -27
        -33 -49 -41 -49 -11 0 -11 -5 1 -30 9 -16 13 -39 9 -50 -4 -13 -1 -22 9 -26 9
        -3 16 -14 16 -23 0 -10 7 -26 15 -37 19 -25 19 -34 0 -34 -8 0 -15 7 -15 15 0
        9 -9 15 -25 15 -18 0 -23 -4 -19 -15 4 -8 13 -15 20 -15 8 0 17 -7 20 -15 3
        -8 16 -17 27 -21 12 -3 33 -16 47 -28 14 -12 38 -28 53 -34 l29 -12 -22 27
        -22 28 32 3 c18 2 36 -1 39 -7 4 -6 18 -3 36 9 17 11 38 20 48 20 9 0 17 5 17
        10 0 6 6 10 14 10 8 0 25 20 37 45 25 51 52 65 78 41 36 -33 119 -7 138 44 14
        37 1 99 -24 118 -43 31 -99 27 -138 -12 l-23 -23 -47 54 c-26 29 -53 53 -60
        53 -8 0 -15 9 -17 21 -2 11 -6 17 -11 13z"/>
        <path d="M3359 4384 c-9 -11 -23 -14 -47 -10 -24 3 -47 -1 -73 -15 -34 -17
        -40 -18 -45 -4 -3 8 -14 15 -24 15 -11 0 -22 5 -25 10 -9 15 -44 2 -83 -30
        -54 -44 -61 -65 -46 -139 15 -72 33 -97 75 -106 34 -8 37 -19 9 -38 -20 -14
        -20 -15 9 -27 26 -10 28 -14 18 -32 -10 -16 -9 -21 4 -28 9 -6 20 -25 23 -43
        5 -29 10 -34 30 -30 17 4 28 -1 37 -15 10 -16 20 -19 41 -15 16 3 34 0 43 -7
        11 -9 20 -8 45 10 l30 21 11 -23 c13 -30 57 -49 119 -52 27 -1 52 -5 56 -8 3
        -4 13 1 23 10 9 10 36 33 58 52 23 19 39 38 36 43 -2 4 0 14 6 21 8 9 2 30
        -23 80 -33 65 -33 69 -15 73 11 3 29 23 40 45 11 21 31 43 44 48 28 10 34 30
        10 30 -9 0 -20 10 -26 23 -19 43 -36 67 -42 61 -4 -4 -17 0 -30 9 -35 22 -88
        30 -121 17 -24 -9 -38 -6 -87 16 -38 18 -56 31 -52 40 7 19 -12 18 -28 -2z"/>
        <path d="M14696 4129 c-35 -27 -33 -59 7 -96 53 -51 87 -63 180 -63 48 0 88
        -5 94 -11 18 -18 43 -3 43 25 0 17 -7 27 -22 32 -12 3 -42 27 -67 52 -81 79
        -179 105 -235 61z"/>
        <path d="M16301 3391 c-33 -9 -36 -23 -11 -46 18 -16 38 -19 141 -19 87 -1
        124 3 131 12 18 21 0 28 -105 46 -105 17 -119 18 -156 7z"/>
        <path d="M1190 3241 c-17 -12 -15 -14 30 -28 79 -25 181 -63 209 -78 17 -8 54
        -20 83 -26 29 -6 89 -22 132 -35 43 -14 81 -22 84 -19 3 3 0 5 -6 5 -7 0 -12
        7 -12 15 0 8 9 15 20 15 34 0 143 -59 172 -93 14 -18 30 -29 33 -25 10 10 -30
        62 -76 99 -35 27 -53 33 -147 46 -149 20 -359 71 -407 98 -49 28 -95 38 -115
        26z"/>
        <path d="M10165 2481 c-6 -11 8 -84 32 -155 9 -28 17 -57 18 -65 1 -9 10 -36
        21 -61 11 -25 33 -83 48 -130 31 -98 58 -142 77 -123 9 9 8 26 -6 75 -9 35
        -24 77 -33 93 -8 17 -25 80 -37 141 -19 94 -28 119 -65 172 -44 66 -46 67 -55
        53z"/>
        <path d="M6984 656 c-14 -37 57 -288 91 -325 8 -7 21 -11 29 -8 15 6 15 10 0
        44 -10 21 -28 79 -40 128 -39 152 -64 202 -80 161z"/>
        </g>
    </svg>
    <div style="display:block; text-align:center;">
        <form action="/@Locale/Auth/AuthUser" method="post">
            <input type="text" name="Login" placeholder="@Localizer["Placeholder_Log"]" value=@data?[0]>@if (err?[1] != null){<br/><i style="color:red;white-space:nowrap;">@err[1]</i>}<br/>
            <input type="password" name="Password1" placeholder=@Localizer["Placeholder_Pass"] />       @if (err?[2] != null){<br/><i style="color:red;white-space:nowrap;">@err[2]</i>}<br/>
                                                                                                        @if (err?[0] != null){     <i style="color:red;white-space:nowrap;">@err[0]</i> <br/>}
            <button type="submit" class="CustomButton">@Localizer["Button_Log"]</button><button type="button" class="CustomButton" onclick="location='/@Locale/Auth/Registration'">@Localizer["Button_Reg"]</button>
        </form>
    </div>
</div>

