@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    var User = ViewData["authUser"] as Forum.DAL.Entities.User;
    var err = ViewData["PassError"] as String[];
    var Inf = ViewData["Info"] as String;
    ViewData["Title"] = @User?.RealName;
}
<div class="container-custom">
    <div id="@User!.ID" class="ProfileConteiner" style="position:relative;padding:20px;">
        @if (Inf != null)
        {
            <div class="info">
                <b>@Inf</b>
            </div>
        }
        <div class=".container-lg">
            <div class="container-sm" style='display:flex;flex-direction:column;'>
                <div style="position:relative;padding:1em 1em 1em;">
                    <svg id="AvaBackSvg" class="svgBody" xmlns="/Icon/AvatarBorder.svg" viewBox="0 0 755.000000 752.000000" style="flex-shrink: 0;" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,752.000000) scale(0.100000,-0.100000)">
                        <path d="M4310 7438 c-30 -62 -52 -76 -44 -26 l5 33 -14 -30 -14 -30 -16 30
                    c-9 17 -16 23 -17 15 0 -25 -35 -48 -64 -43 -15 3 -26 1 -26 -6 0 -7 -29 -11
                    -85 -11 -70 0 -85 3 -85 16 0 14 -2 14 -22 0 -29 -21 -67 -20 -91 1 -17 16
                    -20 17 -31 1 -10 -13 -20 -15 -60 -7 -35 6 -53 6 -64 -3 -11 -10 -17 -9 -27 6
                    -11 14 -17 15 -34 6 -25 -13 -42 -5 -35 15 4 8 9 13 14 10 4 -2 5 7 2 21 -3
                    17 -9 23 -19 20 -8 -3 -18 -6 -21 -7 -4 0 2 -4 13 -9 18 -8 18 -9 -5 -9 -14
                    -1 -36 6 -48 15 -22 15 -52 13 -52 -4 0 -5 12 -15 28 -22 27 -12 27 -12 5 -21
                    -13 -5 -23 -13 -23 -18 0 -5 -54 -8 -127 -7 -118 2 -128 4 -141 24 -14 21 -70
                    33 -57 12 8 -13 -21 -13 -46 0 -17 10 -18 8 -9 -16 10 -24 9 -26 -12 -20 -13
                    3 -33 6 -46 6 -13 0 -20 4 -17 10 3 6 1 10 -5 10 -6 0 -13 -7 -16 -15 -5 -11
                    -8 -12 -18 -2 -15 16 -19 64 -5 73 8 4 7 9 -2 15 -26 17 -31 9 -24 -41 7 -48
                    6 -50 -15 -47 -12 2 -26 10 -30 18 -7 11 -12 11 -22 1 -9 -9 -9 -12 2 -12 7 0
                    10 -3 6 -7 -11 -12 -116 -13 -116 -2 0 6 -5 7 -12 2 -19 -12 -109 -11 -105 1
                    2 6 14 13 28 17 21 6 21 7 -8 8 -27 1 -33 -3 -33 -19 0 -13 -7 -20 -20 -20
                    -25 0 -26 17 -2 23 9 3 3 5 -14 6 -17 0 -49 -6 -70 -15 -32 -13 -36 -14 -26
                    -1 10 12 9 16 -4 21 -22 9 -23 8 -17 -14 4 -16 0 -20 -22 -20 -15 0 -33 7 -39
                    16 -7 9 -18 13 -30 8 -14 -5 -15 -9 -4 -15 8 -5 -7 -9 -40 -9 -30 0 -51 4 -47
                    9 7 12 -34 41 -57 41 -20 0 -22 -8 -9 -29 5 -7 14 -10 20 -7 6 4 11 2 11 -3 0
                    -14 -26 -14 -52 0 -16 8 -19 8 -13 -1 5 -8 3 -11 -6 -8 -8 3 -14 11 -15 19 -2
                    31 -5 33 -17 9 -7 -14 -23 -27 -37 -28 -21 -3 -22 -2 -11 12 11 13 11 17 -2
                    22 -22 8 -37 -3 -30 -22 4 -12 1 -15 -13 -12 -10 2 -19 8 -19 15 0 6 -3 15 -8
                    19 -4 4 -7 -3 -7 -15 0 -21 -3 -22 -72 -19 l-73 3 -1 38 c0 40 -17 67 -28 48
                    -4 -6 -2 -11 3 -11 6 0 11 -18 11 -40 0 -42 -7 -49 -28 -28 -10 10 -14 10 -20
                    1 -10 -16 -144 -15 -154 1 -6 8 -10 8 -16 -2 -9 -13 -92 -13 -92 0 0 4 -12 3
                    -26 -2 -38 -15 -41 -13 -38 23 l3 32 -7 -29 c-4 -17 -11 -28 -17 -25 -5 2 -9
                    7 -7 12 1 4 -2 7 -8 7 -5 0 -10 -7 -10 -15 0 -12 -19 -15 -110 -15 -98 0 -110
                    2 -110 18 0 14 -2 15 -10 2 -9 -13 -10 -13 -10 0 -1 13 -2 13 -13 -1 -18 -23
                    -94 -24 -100 -1 -4 16 -5 16 -6 0 -1 -15 -11 -18 -57 -18 -30 0 -65 5 -76 11
                    -13 7 -18 7 -14 1 4 -7 -5 -10 -23 -10 -20 1 -31 7 -34 19 -3 11 -11 19 -17
                    19 -9 0 -10 -3 -1 -13 6 -8 8 -17 4 -20 -10 -11 -63 -8 -63 3 0 6 -5 10 -11
                    10 -5 0 -7 -4 -4 -10 3 -5 1 -10 -5 -10 -7 0 -14 9 -17 19 -6 23 -31 31 -95
                    31 -29 0 -53 6 -62 16 -9 9 -16 11 -16 4 0 -6 -4 -9 -9 -6 -5 3 -12 -1 -15
                    -10 -5 -12 -14 -15 -36 -10 -26 5 -31 2 -36 -19 -6 -24 -10 -25 -77 -25 -55 0
                    -68 3 -59 12 22 22 14 48 -15 48 -20 0 -24 3 -15 9 10 6 7 10 -13 15 -16 4
                    -32 3 -38 -3 -7 -7 5 -14 35 -22 l46 -13 -25 -20 c-20 -15 -42 -20 -102 -21
                    -42 -1 -106 -2 -143 -3 l-68 -2 -4 -3522 c-2 -1938 -7 -3561 -11 -3607 -5 -65
                    -4 -86 7 -92 7 -5 1638 -9 3624 -9 l3610 0 3 42 c1 23 6 47 11 54 6 6 7 14 3
                    17 -3 4 3 7 15 7 17 0 22 6 22 26 0 43 22 114 39 127 25 19 23 37 -5 47 -16 6
                    -24 16 -21 24 3 8 3 17 -1 20 -10 10 -9 46 1 46 5 0 7 10 4 22 -2 13 -1 34 3
                    48 5 16 8 19 9 8 1 -11 9 -18 21 -18 21 0 25 16 14 58 -4 12 -13 22 -20 22 -8
                    0 -14 9 -14 20 0 11 -4 20 -8 20 -18 0 -5 46 16 55 27 12 28 25 3 25 -22 0
                    -37 16 -20 22 16 5 0 35 -22 41 -22 6 -25 45 -8 97 9 25 9 34 -2 40 -11 7 -10
                    12 4 28 21 23 22 32 2 32 -20 0 -19 19 1 27 13 5 13 7 2 14 -11 8 -11 11 1 18
                    7 5 11 13 7 19 -3 6 3 12 16 14 34 5 34 27 0 34 -34 7 -54 50 -31 65 11 6 10
                    13 -1 34 -13 25 -16 75 -7 140 3 17 5 42 6 57 0 15 8 34 17 43 15 14 15 17 -3
                    33 -10 9 -20 32 -21 51 -2 28 0 32 15 26 21 -8 22 -8 44 -6 22 1 32 38 10 38
                    -9 0 -22 -4 -28 -10 -16 -12 -16 -2 0 24 10 17 9 22 -3 29 -43 27 -44 28 -31
                    43 9 12 9 16 -1 19 -10 4 -10 8 1 22 11 13 16 14 22 4 7 -11 9 -10 9 0 0 8 -8
                    16 -18 19 -22 5 -29 72 -9 85 9 6 9 10 -2 17 -7 5 -10 14 -7 20 4 6 1 11 -6
                    11 -7 1 -3 9 11 21 23 19 25 19 44 2 20 -17 20 -17 14 0 -4 10 -7 21 -7 23 0
                    3 -16 2 -36 -2 -27 -5 -35 -4 -30 5 4 6 3 11 -2 11 -6 0 -10 16 -10 35 0 32 4
                    37 29 42 16 3 33 11 39 18 13 16 3 45 -16 45 -21 0 -17 -20 4 -21 14 0 14 -2
                    -3 -9 -11 -5 -26 -9 -32 -9 -20 -1 -16 60 5 75 16 13 16 14 0 8 -14 -5 -18 -1
                    -18 18 0 13 4 28 9 33 4 6 5 35 2 67 -7 59 0 101 13 80 4 -7 16 -12 27 -12 10
                    0 19 -7 19 -15 0 -8 5 -15 11 -15 6 0 9 6 6 14 -3 8 -1 16 6 19 8 2 7 12 -2
                    35 -11 26 -11 36 0 61 7 16 21 32 31 34 25 7 23 20 -9 58 -25 30 -26 31 -5 25
                    13 -5 22 -3 22 3 0 6 -7 11 -16 11 -8 0 -12 5 -9 10 4 6 -8 10 -29 10 -19 0
                    -37 -6 -39 -12 -3 -8 -6 -6 -6 5 -1 9 4 17 10 17 8 0 7 6 -2 17 -11 13 -11 17
                    -1 21 9 3 10 7 2 17 -17 21 7 29 34 11 23 -14 36 -12 36 6 0 4 -10 8 -23 8
                    -25 0 -47 17 -47 37 0 7 7 13 16 13 8 0 13 -4 10 -9 -3 -5 1 -14 9 -21 12 -10
                    16 -9 21 4 6 16 -11 46 -24 45 -14 -2 -52 14 -52 21 0 4 12 11 26 14 33 9 29
                    40 -6 44 -14 2 -29 8 -35 14 -7 7 7 9 45 5 49 -5 51 -4 20 5 -60 17 -65 22
                    -68 72 -2 36 0 46 12 46 9 0 16 9 16 21 0 11 -4 17 -10 14 -14 -8 -13 -3 6 34
                    12 24 13 35 5 45 -14 17 -11 76 4 76 5 0 3 5 -5 10 -13 8 -13 13 3 41 18 33
                    15 49 -9 49 -13 0 -15 11 -11 63 3 34 8 106 11 161 3 54 10 104 15 110 6 7 10
                    26 9 42 -1 16 2 37 6 47 6 12 4 17 -8 17 -13 0 -16 12 -16 60 0 50 -3 58 -16
                    53 -12 -4 -14 0 -8 21 4 19 2 27 -10 32 -20 8 -21 24 -1 24 8 0 15 5 15 10 0
                    6 -7 10 -15 10 -8 0 -15 5 -15 10 0 6 5 10 11 10 6 0 9 7 6 15 -4 8 -2 17 3
                    20 5 3 8 21 5 40 -3 27 -1 33 11 28 8 -3 17 -16 20 -29 8 -30 30 -49 39 -34
                    11 17 -13 56 -44 71 -14 7 -27 14 -29 15 -2 1 7 18 19 39 25 42 33 82 18 90
                    -5 4 -9 17 -9 30 0 13 -9 30 -20 38 -11 8 -18 20 -15 28 2 8 7 30 10 49 25
                    179 28 184 79 177 22 -3 45 -13 52 -21 10 -14 14 -14 44 0 27 14 30 18 18 30
                    -10 10 -41 15 -99 15 l-86 2 1 41 c1 24 7 46 16 53 13 10 13 15 -1 40 -10 17
                    -15 40 -12 61 3 18 1 38 -5 45 -7 8 -7 32 0 72 5 33 8 79 5 102 -4 36 -1 43
                    15 49 18 5 18 7 3 24 -13 15 -14 23 -5 39 9 17 8 22 -5 27 -8 3 -22 3 -31 0
                    -8 -3 -12 -2 -9 4 3 6 13 10 21 10 20 0 18 14 -6 35 -16 15 -18 21 -7 33 9 12
                    9 16 0 19 -21 7 -15 33 8 33 22 0 21 18 -3 67 -10 20 -7 26 15 46 28 23 37 70
                    16 82 -6 4 -8 13 -5 21 3 8 1 14 -5 14 -6 0 -6 6 0 19 6 10 7 21 4 25 -3 3 -8
                    17 -9 31 -3 25 -1 26 45 29 8 1 16 7 19 14 3 9 -5 11 -27 7 -29 -5 -31 -3 -31
                    24 0 17 4 32 9 35 5 4 8 17 7 31 -2 15 1 22 7 18 7 -4 8 0 2 13 -16 39 -11 57
                    20 66 17 4 35 6 40 4 6 -2 19 5 29 16 19 18 19 18 -30 16 -49 -3 -49 -3 -52
                    30 -3 26 -7 32 -28 32 -29 0 -31 11 -4 35 11 10 20 24 20 31 0 8 7 11 18 7 14
                    -5 13 -3 -3 10 -11 9 -30 17 -42 17 -27 0 -39 18 -23 33 9 9 15 7 26 -7 10
                    -14 14 -16 15 -5 2 53 9 82 23 98 19 20 21 32 5 29 -17 -5 -37 31 -22 40 16
                    10 11 61 -7 72 -8 5 -10 10 -5 10 12 0 13 62 1 71 -5 4 -5 12 -2 18 10 16 58
                    3 79 -22 13 -15 21 -17 29 -9 15 15 -28 51 -63 52 -23 0 -25 4 -25 35 1 19 4
                    35 8 35 3 0 5 8 3 18 -2 9 -4 21 -4 25 -1 5 -5 6 -10 3 -5 -4 -7 2 -4 13 3 11
                    -2 21 -11 24 -23 9 -20 22 9 37 30 16 31 21 7 46 -16 16 -17 22 -6 44 10 18
                    10 26 2 31 -9 6 -8 12 1 23 10 12 11 19 2 30 -9 11 -9 15 1 19 10 3 10 7 2 17
                    -9 9 -7 17 7 31 23 23 25 59 3 59 -13 0 -14 3 -4 14 6 8 19 12 28 9 15 -6 15
                    -4 -1 15 -11 11 -26 18 -35 16 -14 -5 -14 -4 1 6 19 12 23 45 7 55 -5 3 -10 1
                    -10 -4 0 -6 -5 -11 -12 -11 -6 0 -1 11 11 24 13 14 20 29 16 35 -3 6 -1 11 4
                    11 6 0 11 -5 11 -11 0 -5 5 -7 10 -4 16 10 12 25 -7 25 -15 0 -14 2 3 15 10 8
                    15 15 9 15 -5 1 4 7 20 16 29 14 29 14 4 9 -20 -4 -28 0 -32 15 -3 10 0 21 5
                    22 5 2 0 20 -12 41 -12 20 -17 37 -11 37 7 0 7 8 0 27 -7 19 -6 28 2 33 17 11
                    -5 22 -27 13 -14 -5 -16 -3 -11 11 5 14 3 16 -12 11 -10 -3 -24 1 -31 10 -9
                    11 -9 15 -1 15 7 0 9 5 6 10 -3 6 -23 10 -44 10 -33 0 -96 22 -111 39 -3 3
                    -14 7 -25 9 -16 2 -17 1 -5 -7 8 -6 11 -11 6 -11 -5 0 -3 -7 4 -15 11 -13 4
                    -15 -51 -15 -45 0 -60 3 -49 10 9 6 10 10 3 10 -6 0 -15 -4 -18 -10 -10 -16
                    -342 -13 -349 3 -5 10 -7 10 -12 0 -6 -14 -155 -17 -189 -4 -10 4 -32 3 -49
                    -3 -22 -8 -30 -8 -33 2 -3 6 -11 12 -19 12 -8 0 -14 5 -14 11 0 13 -42 1 -52
                    -15 -5 -7 -8 -4 -8 8 0 18 -1 18 -19 -2 -20 -24 -56 -29 -64 -9 -4 9 -8 9 -15
                    -2 -7 -9 -12 -10 -16 -2 -5 8 -13 8 -26 1 -27 -14 -80 -13 -80 3 0 9 -2 9 -8
                    0 -10 -15 -301 -17 -319 -2 -7 7 -14 6 -18 -1 -3 -5 -33 -10 -66 -10 -38 0
                    -58 4 -54 10 3 6 2 10 -4 10 -5 0 -13 -4 -16 -10 -3 -5 -35 -10 -71 -10 -41 0
                    -63 4 -59 10 3 6 1 10 -4 10 -6 0 -11 -5 -11 -10 0 -7 -56 -10 -160 -9 -90 1
                    -157 5 -154 10 3 5 1 9 -5 9 -5 0 -13 -4 -16 -10 -4 -6 -72 -10 -171 -10
                    l-165 0 6 23 c4 12 14 28 23 35 9 7 11 12 4 12 -7 0 -12 7 -12 15 0 8 -7 15
                    -15 15 -10 0 -15 -10 -15 -34 0 -70 8 -67 -201 -65 -168 2 -192 4 -210 20 -15
                    13 -19 23 -12 31 16 22 33 68 25 68 -4 0 -18 -23 -32 -52z m-202 -110 c12 0
                    22 -3 22 -7 0 -3 21 -7 48 -9 33 -1 52 -8 64 -23 13 -15 25 -19 45 -15 64 14
                    77 15 123 6 29 -6 61 -6 81 0 68 20 107 -22 61 -68 -17 -17 -17 -19 1 -37 27
                    -29 39 -4 34 67 -6 68 10 94 30 47 15 -36 33 -30 33 11 0 16 5 32 10 35 6 4
                    10 -9 10 -30 0 -35 2 -37 25 -31 14 4 25 2 25 -3 0 -13 121 -5 172 10 33 11
                    40 9 67 -12 39 -31 42 -40 30 -84 -16 -56 -5 -51 25 10 31 64 50 72 41 18 -5
                    -28 -4 -34 4 -23 6 8 11 23 11 33 0 22 18 13 31 -17 8 -18 9 -17 6 9 -1 21 3
                    30 13 30 8 1 31 4 50 8 19 3 73 8 118 11 79 4 84 3 79 -15 -6 -23 1 -24 27 -4
                    26 20 65 19 89 -2 17 -16 20 -16 30 -2 7 9 23 15 37 13 14 -1 28 -3 33 -3 4
                    -1 7 -8 7 -17 0 -14 2 -14 15 0 22 22 54 29 70 16 8 -6 23 -9 35 -5 14 4 22 1
                    27 -11 4 -10 2 -19 -5 -22 -17 -5 -15 -42 2 -42 22 0 30 20 9 21 -16 0 -16 1
                    2 8 11 5 29 20 40 35 19 24 44 38 30 16 -3 -5 -2 -10 4 -10 5 0 11 5 13 12 2
                    6 18 11 36 10 26 0 32 3 33 21 0 15 2 17 6 7 7 -17 23 -30 37 -30 6 0 5 5 -2
                    12 -19 19 -14 28 14 28 21 0 24 -4 19 -20 -5 -14 -2 -20 9 -20 9 0 16 4 16 9
                    0 17 31 21 46 6 17 -17 44 -9 45 14 0 9 5 4 11 -11 5 -16 13 -28 18 -28 5 0
                    15 -3 24 -6 12 -5 16 0 16 19 0 18 6 26 25 29 17 4 25 1 25 -8 0 -17 32 -34
                    62 -34 18 0 20 2 8 10 -18 11 -8 23 13 14 13 -5 14 -10 6 -25 -5 -11 -6 -19 0
                    -19 5 0 12 7 15 16 4 12 9 12 18 3 14 -13 17 -57 5 -76 -5 -7 -6 -13 -3 -13 2
                    0 11 -3 20 -6 18 -7 22 26 7 55 -6 11 -6 25 2 41 16 31 37 37 37 11 0 -29 12
                    -26 36 7 30 40 36 53 27 51 -4 -1 -17 -1 -28 0 -18 1 -19 2 -3 12 12 7 24 6
                    38 -1 11 -6 20 -7 20 -3 0 5 84 9 188 10 l187 1 12 -23 c8 -18 8 -25 -1 -28
                    -6 -2 -7 -8 -3 -13 11 -11 28 16 24 41 -3 31 48 33 72 3 17 -20 17 -24 3 -34
                    -22 -16 1 -27 31 -13 20 9 24 17 20 40 l-4 29 85 0 c70 0 86 -3 86 -15 0 -8 5
                    -15 10 -15 6 0 10 7 10 15 0 8 9 15 20 15 18 0 20 -7 20 -55 0 -46 -5 -61 -25
                    -82 -22 -25 -23 -29 -9 -44 10 -11 12 -19 5 -24 -6 -3 -11 -11 -11 -17 0 -7 5
                    -6 14 1 18 15 27 1 19 -28 -4 -15 -10 -20 -22 -16 -9 4 -22 9 -28 12 -9 3 -13
                    -5 -13 -26 0 -17 2 -31 4 -31 2 0 13 -3 23 -6 11 -4 14 -3 7 3 -6 4 -14 18
                    -18 30 -6 18 -4 22 8 17 9 -3 16 -12 16 -19 0 -7 6 -15 13 -18 8 -3 14 -22 15
                    -46 2 -35 -2 -43 -26 -55 -16 -8 -35 -23 -42 -33 -12 -15 -12 -16 0 -5 19 17
                    27 15 32 -6 4 -15 0 -18 -21 -16 l-26 3 28 -23 c36 -29 34 -36 -8 -29 -42 7
                    -44 0 -7 -32 l27 -25 -25 -20 -25 -21 29 7 c25 6 28 4 23 -10 -4 -10 -7 -24
                    -7 -32 0 -8 -9 -14 -20 -14 -11 0 -20 -4 -20 -10 0 -5 -5 -10 -11 -10 -5 0 -7
                    5 -4 10 9 15 -51 12 -63 -3 -8 -10 -1 -12 36 -11 26 1 47 3 47 4 0 1 18 3 40
                    5 31 3 35 1 18 -6 -23 -8 -32 -39 -12 -39 10 0 39 -24 39 -33 0 -3 -10 -3 -22
                    -1 -13 2 -17 2 -10 -2 6 -3 10 -10 6 -15 -3 -5 2 -9 10 -9 10 0 13 -6 10 -15
                    -5 -11 -10 -13 -19 -5 -9 7 -15 7 -19 1 -4 -5 -2 -12 4 -16 5 -3 10 -17 10
                    -30 0 -12 8 -26 17 -29 11 -5 13 -10 6 -17 -8 -8 -17 -5 -32 10 -12 12 -33 21
                    -48 21 -16 0 -39 3 -52 7 -17 4 -22 3 -17 -5 4 -7 23 -12 42 -12 45 0 79 -17
                    66 -33 -13 -17 -20 -77 -10 -83 5 -3 5 -10 2 -16 -4 -7 -2 -8 5 -4 6 4 9 10 7
                    14 -2 4 6 14 18 23 22 17 22 16 23 -17 1 -18 -2 -33 -5 -32 -4 0 -15 0 -26 -1
                    -15 -1 -16 -4 -6 -16 7 -8 19 -15 26 -15 8 0 14 -8 14 -17 0 -19 -20 -81 -33
                    -100 -5 -7 -1 -9 13 -6 15 4 20 0 20 -16 0 -12 -4 -19 -10 -16 -5 3 -10 -3
                    -10 -14 0 -13 -9 -21 -30 -26 -37 -8 -40 -25 -4 -25 16 0 23 -4 18 -11 -4 -8
                    0 -9 15 -4 15 4 21 2 21 -8 0 -9 -9 -13 -26 -11 -14 1 -27 -3 -30 -11 -3 -8
                    -12 -11 -20 -8 -18 7 -18 -11 0 -26 10 -8 16 -9 21 -1 9 15 25 12 25 -4 0 -9
                    -17 -16 -48 -21 -26 -3 -54 -11 -62 -16 -11 -7 -2 -8 28 -4 26 4 42 3 42 -3 0
                    -6 12 -15 28 -20 24 -9 25 -11 8 -17 -10 -5 -26 -3 -36 3 -14 9 -19 8 -24 -4
                    -3 -8 1 -17 10 -21 13 -5 10 -9 -12 -19 l-29 -14 39 3 c26 1 41 -3 44 -12 3
                    -8 0 -11 -6 -7 -6 4 -24 0 -40 -8 -16 -8 -32 -12 -36 -9 -3 4 -6 1 -6 -6 0 -8
                    6 -11 16 -7 9 3 27 9 42 13 21 5 24 3 19 -10 -3 -9 -2 -19 3 -22 19 -11 10
                    -35 -12 -36 -25 -1 -19 -4 25 -13 15 -4 27 -11 27 -17 0 -6 -8 -8 -17 -5 -10
                    2 -38 7 -63 10 -34 5 -40 4 -22 -4 12 -5 22 -15 22 -22 0 -10 2 -10 9 1 11 17
                    32 6 25 -13 -3 -9 3 -17 15 -21 24 -7 26 -16 9 -33 -9 -9 -8 -12 8 -12 17 0
                    16 -2 -6 -20 -14 -11 -19 -20 -12 -20 6 0 12 -6 12 -14 0 -8 -6 -17 -12 -19
                    -7 -3 -3 -6 10 -6 30 -1 32 -41 1 -41 -11 0 -17 -4 -14 -10 3 -5 -1 -10 -9
                    -10 -9 0 -16 -8 -16 -19 0 -11 -6 -21 -12 -24 -8 -2 -9 -8 -4 -13 5 -5 11 -4
                    13 4 6 15 35 16 51 0 19 -19 14 -30 -10 -24 -13 3 -17 3 -10 0 10 -5 10 -9 0
                    -22 -11 -13 -10 -15 4 -9 9 3 22 -1 30 -10 10 -13 10 -17 1 -20 -7 -3 -13 -13
                    -13 -23 0 -16 -18 -30 -40 -30 -5 0 -15 12 -22 28 -10 20 -21 27 -43 29 -18 1
                    -22 -1 -10 -4 31 -8 40 -20 25 -38 -16 -19 -5 -32 14 -16 8 7 16 8 18 3 1 -5
                    14 -13 27 -17 16 -5 21 -4 17 4 -4 6 0 11 11 11 12 0 19 -8 21 -23 1 -21 -2
                    -22 -33 -19 -27 3 -35 1 -35 -12 0 -9 7 -16 15 -16 8 0 15 5 15 10 0 15 27 12
                    33 -4 3 -8 -2 -16 -14 -19 -23 -6 -24 -20 -3 -41 8 -9 12 -20 9 -26 -3 -5 -2
                    -10 4 -10 5 0 9 -9 8 -20 -1 -23 -10 -25 -38 -10 -13 7 -19 7 -19 1 0 -6 11
                    -13 25 -17 32 -8 33 -24 1 -24 -23 0 -54 -25 -44 -36 10 -9 58 8 51 19 -3 6
                    -1 7 6 3 8 -5 10 -25 7 -59 -3 -29 -2 -69 3 -89 6 -24 5 -40 -3 -48 -8 -9 -8
                    -14 2 -17 7 -3 12 -23 12 -52 0 -42 -3 -48 -27 -58 -28 -11 -28 -11 -5 -18 25
                    -8 27 -17 11 -46 -8 -16 -7 -25 7 -40 15 -17 15 -19 1 -19 -21 0 -30 -16 -19
                    -36 9 -17 -6 -64 -20 -64 -5 0 -8 -5 -8 -10 0 -6 8 -10 17 -8 14 2 19 -7 24
                    -47 4 -27 2 -54 -2 -59 -14 -15 -11 -42 6 -56 13 -11 10 -17 -21 -46 -39 -37
                    -59 -40 -119 -19 -48 17 -45 17 -45 7 0 -5 26 -19 58 -31 72 -30 104 -49 97
                    -60 -3 -5 -23 -4 -45 1 -23 6 -44 8 -47 4 -9 -9 -1 -14 31 -20 16 -3 31 -8 35
                    -11 7 -8 -28 -35 -46 -35 -7 0 -13 -5 -13 -10 0 -7 13 -9 33 -5 37 7 38 4 39
                    -88 1 -47 11 -53 21 -12 4 15 5 14 6 -7 1 -16 -6 -31 -16 -37 -15 -8 -16 -13
                    -5 -31 10 -17 10 -21 -3 -26 -21 -8 -19 -21 4 -29 13 -4 21 -19 26 -50 7 -53
                    0 -72 -21 -54 -24 19 -25 5 -4 -36 26 -51 26 -92 0 -100 -25 -8 -26 -41 -1
                    -54 13 -7 18 -20 16 -41 -1 -17 -5 -33 -9 -37 -10 -10 -7 -53 4 -53 7 0 7 -6
                    0 -19 -12 -24 -13 -41 0 -21 5 8 12 11 16 7 4 -4 -1 -16 -11 -27 -13 -14 -16
                    -28 -11 -55 6 -32 5 -35 -18 -35 -14 0 -27 4 -30 9 -9 13 -56 10 -56 -4 0 -7
                    7 -18 15 -25 12 -10 15 -9 16 6 0 18 1 18 9 -1 9 -23 55 -65 70 -65 6 0 10 -4
                    10 -10 0 -5 -7 -10 -15 -10 -8 0 -15 -4 -15 -10 0 -5 7 -10 15 -10 8 0 15 -9
                    15 -20 0 -11 4 -20 8 -20 10 0 10 -76 0 -86 -13 -13 -9 -34 7 -34 8 0 15 -4
                    15 -10 0 -5 -4 -10 -10 -10 -5 0 -10 -9 -10 -20 0 -11 5 -20 10 -20 6 0 10
                    -11 10 -25 0 -14 -4 -25 -10 -25 -14 0 -12 -44 3 -59 10 -10 9 -15 -4 -24 -28
                    -21 -42 -56 -28 -73 9 -12 15 -12 27 -2 13 11 14 8 8 -27 -4 -22 -14 -56 -23
                    -75 -24 -56 -37 -84 -42 -94 -2 -5 1 -6 7 -3 5 4 17 4 26 1 14 -5 14 -7 0 -21
                    -18 -18 -83 -24 -102 -9 -9 7 -16 5 -23 -5 -23 -37 -4 -48 48 -28 38 16 85 12
                    101 -8 17 -23 15 -33 -7 -33 -10 0 -21 -6 -24 -14 -6 -16 11 -36 30 -36 16 0
                    18 -76 3 -85 -6 -3 -8 2 -5 12 3 10 0 8 -6 -4 -7 -13 -16 -23 -21 -23 -19 0
                    -6 -18 18 -24 25 -7 26 -8 9 -26 -13 -15 -16 -29 -12 -57 4 -22 2 -42 -5 -50
                    -9 -11 -8 -13 2 -11 7 2 15 -3 17 -9 3 -8 -5 -13 -20 -13 -25 0 -25 -2 -21
                    -53 2 -28 6 -64 10 -79 4 -22 2 -28 -11 -28 -14 0 -15 -3 -5 -14 6 -8 17 -13
                    24 -10 14 5 25 -29 32 -103 4 -46 -11 -60 -22 -19 -5 22 -31 42 -41 33 -8 -9
                    -21 -66 -15 -71 3 -4 20 -3 39 0 26 5 34 2 40 -12 4 -10 2 -19 -5 -22 -14 -4
                    -16 -52 -3 -52 5 0 10 -52 10 -117 0 -119 -4 -157 -18 -149 -4 3 -12 -4 -19
                    -15 -10 -16 -9 -19 3 -19 8 0 15 -5 15 -11 0 -5 4 -8 9 -5 5 3 8 -5 7 -18 0
                    -13 -4 -22 -7 -20 -4 2 -12 -3 -19 -11 -9 -10 -9 -15 -1 -15 6 0 11 -7 11 -15
                    0 -8 -6 -15 -14 -15 -21 0 -7 -42 16 -47 20 -6 25 -23 6 -24 -10 0 -10 -2 0
                    -6 21 -8 13 -32 -18 -48 -32 -17 -33 -20 -23 -78 4 -28 10 -37 20 -33 9 4 13
                    1 10 -6 -2 -8 -18 -12 -40 -10 -19 1 -38 -1 -40 -5 -3 -4 16 -9 41 -11 26 -2
                    48 -4 49 -6 2 -1 6 -17 9 -34 6 -29 4 -32 -17 -33 -22 -2 -22 -2 -3 -6 27 -5
                    29 -47 7 -146 -16 -70 -22 -77 -43 -52 -15 17 -30 20 -30 4 0 -18 29 -41 42
                    -33 7 4 5 -2 -5 -13 -11 -13 -18 -38 -19 -67 0 -25 -4 -46 -9 -46 -5 0 -9 -17
                    -9 -38 0 -32 -5 -41 -27 -52 -27 -13 -27 -14 -6 -18 12 -2 32 2 44 8 16 9 20
                    9 14 1 -4 -7 -1 -19 6 -27 9 -11 9 -18 1 -26 -7 -7 -12 -8 -12 -2 0 5 -9 10
                    -20 11 -11 1 -20 -4 -20 -13 0 -8 -3 -13 -7 -13 -22 4 -28 -4 -29 -31 -1 -19
                    4 -30 12 -30 21 0 17 -17 -6 -23 -19 -5 -24 6 -23 59 0 6 -6 11 -14 11 -9 0
                    -11 -7 -7 -20 4 -13 2 -17 -5 -13 -6 4 -11 2 -11 -3 0 -17 -30 -13 -57 9 -14
                    11 -41 22 -59 26 -32 6 -34 8 -19 23 23 27 19 37 -27 60 -42 20 -43 20 -63 1
                    -18 -17 -22 -17 -40 -4 -23 17 -65 12 -115 -12 -23 -12 -35 -13 -43 -5 -17 17
                    -57 13 -64 -6 -4 -9 -1 -19 5 -21 27 -9 9 -22 -30 -22 -54 0 -70 -11 -70 -45
                    0 -15 -10 -38 -21 -51 -19 -22 -21 -22 -34 -6 -14 16 -14 16 -9 0 7 -24 -29
                    -33 -56 -14 -15 11 -34 14 -60 10 -35 -6 -38 -5 -39 17 -1 17 -3 19 -6 7 -5
                    -21 -29 -24 -35 -6 -3 9 -9 8 -22 -5 -19 -19 -34 -21 -55 -8 -16 11 3 25 23
                    18 8 -3 23 3 35 14 45 42 -32 112 -86 78 -16 -9 -31 -8 -77 10 -32 12 -71 28
                    -87 37 -17 8 -36 13 -42 10 -7 -2 -2 -8 11 -12 16 -5 20 -10 12 -19 -8 -9 -4
                    -11 14 -8 24 5 136 -43 136 -58 0 -42 -38 -51 -70 -17 -18 20 -29 22 -103 20
                    -105 -3 -117 -5 -111 -14 3 -4 -2 -8 -10 -8 -9 0 -16 -5 -16 -10 0 -15 -43
                    -30 -55 -19 -17 17 -51 9 -75 -16 -13 -14 -30 -23 -38 -20 -7 2 -11 1 -7 -4 3
                    -5 -13 -12 -35 -16 -34 -6 -46 -3 -75 19 -18 14 -41 26 -49 26 -20 0 -116 51
                    -116 62 0 4 -5 8 -12 8 -6 0 -19 7 -29 16 -14 12 -21 13 -37 3 -15 -9 -27 -9
                    -53 0 -29 10 -36 9 -46 -6 -43 -58 -118 -130 -131 -126 -12 5 -12 2 -3 -15
                    l12 -22 -36 22 c-20 11 -34 26 -32 33 5 12 -8 14 -126 15 -43 1 -85 -5 -114
                    -16 -43 -17 -46 -17 -58 -1 -7 9 -20 17 -29 17 -9 0 -16 8 -16 20 0 18 -3 19
                    -20 10 -15 -8 -26 -7 -44 6 -15 9 -31 12 -38 8 -7 -5 -33 -11 -58 -15 -25 -4
                    -56 -10 -69 -15 -21 -6 -22 -4 -16 15 4 13 2 21 -5 21 -6 0 -9 -4 -5 -9 8 -14
                    -13 -24 -33 -16 -9 4 -28 9 -42 10 -43 5 -97 22 -120 38 -12 9 -29 13 -36 10
                    -19 -7 -18 -32 1 -39 8 -4 13 -10 10 -14 -3 -5 5 -6 17 -2 14 3 19 2 14 -6 -4
                    -7 -23 -12 -42 -12 -24 0 -43 -8 -60 -25 -30 -31 -45 -31 -62 -4 -10 16 -20
                    20 -41 16 -16 -3 -32 -2 -37 3 -6 6 -24 6 -47 -1 -29 -8 -40 -7 -51 4 -11 10
                    -36 13 -93 11 -96 -4 -117 1 -110 27 6 22 -6 25 -26 5 -22 -23 -42 -4 -30 30
                    5 16 8 35 7 42 -1 6 -2 19 -3 27 0 8 -7 12 -16 9 -8 -4 -15 -1 -15 5 0 6 -9
                    11 -20 11 -19 0 -24 -10 -21 -37 1 -7 -2 -13 -6 -13 -5 0 -10 -12 -11 -26 -3
                    -34 -8 -41 -42 -59 -23 -12 -37 -12 -84 -3 l-56 12 -37 -35 c-27 -25 -54 -39
                    -90 -47 -64 -14 -98 -4 -107 33 -6 22 -9 25 -21 15 -20 -17 -65 -4 -65 18 0
                    40 -46 68 -102 63 -20 -2 -32 15 -18 24 17 11 -19 45 -47 45 -29 0 -32 -34 -3
                    -52 22 -14 27 -30 7 -22 -15 5 -60 -34 -65 -57 -6 -25 -17 -29 -57 -17 -30 10
                    -39 10 -42 1 -3 -7 -21 -15 -41 -19 -20 -3 -57 -16 -80 -27 -38 -19 -45 -20
                    -55 -7 -7 9 -24 14 -41 12 -16 -2 -33 1 -39 7 -6 6 -21 11 -34 11 -13 0 -26 6
                    -29 14 -3 8 -12 12 -20 9 -8 -3 -14 1 -14 11 0 9 7 16 15 16 8 0 15 7 15 16 0
                    11 -8 15 -27 14 -39 -3 -73 10 -73 26 0 20 -7 18 -38 -11 -29 -27 -38 -30 -47
                    -15 -3 6 0 10 7 10 10 0 10 2 -1 9 -16 10 -52 3 -66 -13 -6 -6 -30 -22 -54
                    -35 -35 -19 -45 -20 -52 -10 -7 11 -12 11 -27 2 -15 -9 -22 -8 -33 3 -17 16
                    -76 4 -71 -15 1 -6 -2 -11 -8 -11 -22 0 -5 33 22 43 23 8 12 37 -13 37 -11 0
                    -19 -7 -19 -17 0 -10 -9 -29 -20 -43 -19 -23 -21 -24 -34 -7 -16 21 -27 22
                    -20 2 8 -20 -20 -20 -40 0 -9 9 -13 27 -11 45 2 17 0 28 -6 25 -5 -4 -9 -21
                    -9 -40 0 -35 -27 -56 -42 -33 -6 10 -8 10 -8 1 0 -18 -29 -16 -36 1 -9 22 -45
                    42 -89 49 -30 5 -35 4 -17 -3 28 -12 38 -36 23 -54 -8 -10 -6 -17 9 -31 39
                    -36 9 -61 -41 -35 -13 7 -19 7 -19 0 0 -5 -4 -10 -10 -10 -5 0 -7 7 -4 15 4 8
                    1 15 -5 15 -7 0 -24 9 -39 19 -43 32 -141 59 -217 62 -38 1 -84 5 -101 9 -20
                    5 -37 2 -49 -6 -23 -17 -69 -18 -98 -2 -29 16 -107 16 -132 1 -25 -17 -76 -17
                    -99 0 -14 10 -34 11 -88 3 -59 -8 -73 -7 -82 6 -6 8 -17 13 -24 10 -7 -2 -23
                    5 -35 16 -23 21 -57 16 -43 -7 4 -6 1 -20 -7 -31 -13 -18 -15 -19 -21 -5 -7
                    21 -26 10 -26 -15 0 -10 -9 -22 -20 -25 -11 -3 -27 -13 -35 -22 -9 -8 -19 -12
                    -23 -8 -4 4 -1 10 6 12 6 3 12 14 12 25 0 26 36 58 67 58 12 0 23 5 23 10 0 6
                    -7 10 -15 10 -8 0 -15 5 -15 10 0 6 5 10 10 10 6 0 10 5 10 10 0 6 -7 10 -16
                    10 -10 0 -14 5 -10 15 3 9 -1 18 -10 22 -13 5 -13 7 1 23 8 9 12 19 9 22 -3 4
                    4 9 15 13 33 10 25 25 -14 25 -19 0 -35 2 -35 5 0 3 9 24 19 48 11 23 21 51
                    23 62 2 13 11 20 26 19 16 0 19 3 12 10 -17 17 -11 27 10 16 18 -10 19 -9 10
                    16 -8 21 -7 29 6 39 12 8 14 14 5 19 -12 8 -5 52 12 74 6 8 5 12 -4 12 -10 1
                    -8 5 5 15 19 15 14 35 -10 35 -20 0 -36 47 -29 82 7 29 25 39 25 13 0 -19 48
                    -31 70 -17 14 9 20 6 29 -11 11 -21 11 -21 5 3 -3 14 -7 35 -8 48 0 12 -4 22
                    -8 22 -5 0 -8 8 -8 19 0 27 -47 34 -68 10 -12 -14 -19 -16 -29 -7 -17 14 -17
                    43 2 58 12 10 12 15 -1 35 -9 13 -13 29 -10 34 7 11 -20 29 -71 47 -27 10 -33
                    9 -33 -2 0 -8 -6 -13 -12 -12 -7 2 -14 -7 -16 -19 -3 -19 -6 -21 -22 -11 -11
                    7 -23 9 -27 5 -4 -5 -2 -12 5 -16 7 -4 10 -15 6 -24 -3 -9 -1 -17 4 -17 6 0 9
                    -13 7 -30 -2 -16 1 -30 6 -30 6 0 7 -5 3 -11 -4 -8 -9 -7 -15 2 -6 11 -9 10
                    -15 -4 -11 -29 -26 -19 -19 13 4 19 3 30 -4 30 -6 0 -11 -13 -11 -29 0 -17 -6
                    -31 -16 -35 -12 -4 -14 -1 -9 14 4 13 2 20 -7 20 -7 0 -1 11 14 24 l26 24 -24
                    12 c-26 14 -30 25 -14 35 6 3 14 -4 19 -17 l10 -23 0 23 c1 30 -2 37 -16 36
                    -7 -1 -13 4 -13 12 0 15 34 37 44 27 3 -3 6 -1 6 6 0 8 6 11 16 7 8 -3 13 -2
                    10 3 -3 4 4 18 15 30 12 12 18 25 15 28 -3 3 2 12 12 19 10 8 12 13 5 14 -15
                    0 -17 46 -3 55 6 3 10 15 10 27 0 17 -4 19 -25 14 -19 -5 -25 -2 -25 9 0 10
                    -5 13 -12 9 -8 -5 -9 -2 -5 10 4 10 7 37 7 61 0 25 6 50 15 59 8 8 15 26 15
                    41 0 14 11 47 25 73 30 57 31 69 4 90 -11 10 -30 46 -42 82 -21 59 -25 65 -57
                    71 -19 4 -40 16 -47 26 -15 20 -9 63 10 75 9 6 8 8 -2 8 -11 0 -11 3 -1 15 10
                    12 10 18 0 30 -11 13 -10 14 5 9 14 -6 16 -3 10 14 -5 16 -2 22 9 22 19 0 21
                    11 4 28 -9 9 -8 12 5 12 15 0 15 3 5 20 -11 17 -11 22 0 29 10 6 10 10 -3 21
                    -19 16 -19 39 0 46 8 4 15 16 15 28 0 14 3 17 8 8 6 -9 11 -6 20 10 25 48 29
                    73 19 98 -5 14 -9 33 -8 43 2 18 -10 23 -23 10 -4 -5 -24 -13 -44 -18 -35 -10
                    -37 -13 -39 -55 -3 -44 -16 -70 -29 -57 -4 4 -2 19 5 33 6 15 9 34 6 43 -3 10
                    6 29 23 47 15 16 27 36 27 44 0 11 12 15 42 16 60 1 76 18 70 72 -3 25 -11 48
                    -18 52 -19 12 -19 50 0 50 13 1 12 3 -3 11 -15 9 -16 13 -5 20 10 6 8 9 -9 9
                    -20 0 -21 2 -11 23 6 12 21 30 33 40 l21 18 -21 -10 c-16 -8 -30 -7 -53 5 -27
                    14 -30 18 -20 37 9 18 9 20 -2 10 -22 -21 -32 -15 -25 17 3 18 2 29 -3 25 -11
                    -6 -16 1 -25 38 -4 16 -2 27 4 27 5 0 10 -7 10 -15 0 -21 27 -30 45 -15 13 11
                    15 8 15 -18 0 -36 16 -44 52 -25 72 36 77 167 7 155 -24 -4 -50 45 -30 57 17
                    11 4 58 -20 75 -19 13 -19 13 1 31 19 17 21 17 38 2 10 -10 24 -17 31 -17 14
                    0 34 48 25 62 -4 7 -2 8 5 4 20 -13 61 21 61 50 0 33 -17 64 -35 64 -8 0 -25
                    -10 -36 -21 -16 -16 -20 -29 -16 -55 5 -27 2 -34 -10 -34 -9 0 -25 -8 -36 -17
                    -18 -17 -19 -17 -28 0 -6 9 -17 17 -24 17 -18 0 -19 23 -4 51 10 19 10 19 28
                    -3 15 -18 21 -20 34 -10 19 16 30 82 15 99 -11 14 -8 39 13 90 12 29 11 37 -4
                    63 -22 37 -17 48 23 42 29 -4 30 -3 30 31 0 42 -22 66 -45 47 -22 -18 -28 -7
                    -14 24 12 25 13 25 31 10 17 -16 18 -16 18 8 0 17 -7 27 -20 31 -22 6 -28 53
                    -11 85 11 23 -6 82 -24 82 -18 0 -18 4 -3 47 13 36 23 41 32 18 3 -8 15 -15
                    27 -15 12 0 23 -8 26 -20 6 -24 12 -25 27 -6 18 22 56 30 56 12 0 -9 6 -16 14
                    -16 8 0 17 -6 20 -12 9 -18 0 23 -10 46 -5 13 -4 17 4 12 6 -3 13 3 17 14 5
                    16 12 19 28 14 19 -6 20 -5 9 8 -7 9 -10 23 -6 32 7 17 34 22 34 6 0 -5 5 -10
                    11 -10 6 0 1 13 -10 29 -26 36 -27 57 -3 70 16 10 16 10 -1 11 -12 0 -17 6
                    -15 18 2 9 11 16 18 14 11 -3 10 1 -3 16 -9 10 -17 28 -17 39 0 12 -6 23 -12
                    26 -10 4 -10 7 0 18 16 18 15 29 -3 29 -8 0 -23 9 -32 20 -20 23 -43 26 -61 8
                    -7 -7 -12 -8 -12 -4 0 5 -6 3 -14 -3 -20 -17 -67 22 -48 40 13 14 17 109 4
                    109 -4 0 -13 -4 -20 -10 -9 -7 -9 -7 -3 1 6 8 4 21 -7 37 -16 24 -15 26 6 40
                    21 14 31 42 14 42 -4 0 -17 -7 -29 -15 -21 -15 -22 -14 -25 22 -3 34 -6 38
                    -30 38 -17 0 -33 8 -43 22 -13 19 -13 23 4 44 23 29 56 20 46 -12 -5 -15 -4
                    -19 4 -15 16 10 14 56 -3 56 -27 0 -36 72 -13 105 17 22 37 12 30 -15 -3 -12
                    0 -20 6 -20 7 0 9 5 6 10 -4 6 0 22 9 35 20 31 21 69 1 85 -22 18 -18 40 6 40
                    14 0 18 4 12 13 -11 18 -10 77 2 77 6 0 16 -9 23 -20 7 -12 8 -20 2 -20 -26 0
                    -5 -17 36 -29 35 -11 51 -11 71 -2 23 11 25 16 20 54 -4 29 -14 48 -31 62 -14
                    12 -26 27 -27 35 0 8 -4 5 -9 -7 -5 -13 -17 -23 -26 -23 -10 0 -25 -7 -35 -16
                    -24 -22 -49 -11 -49 21 0 14 -7 28 -15 31 -10 4 -13 14 -9 29 4 18 2 23 -10
                    21 -8 -1 -19 -5 -22 -9 -15 -15 -24 -6 -24 22 0 17 5 33 11 36 5 4 14 18 20
                    31 7 21 12 23 28 14 34 -18 42 -12 39 28 -3 33 -6 37 -30 35 -19 -1 -28 4 -32
                    20 -8 33 3 67 21 60 13 -5 14 0 8 26 -5 24 -2 37 9 50 9 10 20 36 23 57 3 22
                    12 46 20 55 12 15 12 22 0 52 -14 32 -14 36 5 55 26 26 17 57 -13 49 -20 -5
                    -21 -3 -15 33 5 33 3 41 -15 50 -11 7 -29 29 -38 51 -10 21 -21 36 -24 32 -4
                    -3 -7 3 -7 15 0 14 6 22 18 22 14 0 14 2 3 9 -11 7 -8 14 15 36 16 15 45 36
                    64 46 28 15 30 18 9 13 -23 -5 -27 -1 -38 38 -7 24 -17 51 -22 60 -5 10 -9 24
                    -9 32 0 8 -11 23 -25 34 -14 11 -25 27 -25 36 0 9 -6 16 -14 16 -18 0 -76 32
                    -76 43 0 7 16 11 33 8 5 -1 6 12 2 29 -5 21 -3 30 6 30 7 0 9 3 6 7 -4 3 -1
                    13 6 21 9 12 9 16 0 19 -23 8 -14 39 14 52 22 10 24 14 12 22 -12 7 -11 9 4 9
                    9 0 17 5 17 10 0 14 -43 13 -58 -2 -9 -9 -12 -8 -12 6 0 9 4 26 10 36 8 15 6
                    17 -10 13 -17 -4 -20 0 -20 26 0 17 -5 31 -10 31 -6 0 -5 13 3 33 9 21 11 42
                    5 62 -4 17 -6 38 -4 47 2 9 -1 19 -6 20 -6 2 -5 14 2 30 8 17 18 25 29 21 12
                    -4 13 -3 3 4 -17 13 4 63 27 63 11 0 12 3 4 8 -9 6 -7 11 7 20 21 13 24 8 21
                    -30 -3 -27 45 -23 74 6 13 13 27 37 31 53 8 32 30 52 59 53 17 0 18 2 5 10
                    -11 8 -8 9 11 5 35 -8 53 27 38 71 -5 13 -3 26 4 33 9 10 5 11 -18 6 -24 -5
                    -26 -4 -13 4 9 6 57 12 107 14 77 2 93 5 113 25 l24 22 22 -20 c25 -23 28 -36
                    10 -43 -8 -3 -6 -6 5 -6 9 -1 17 5 17 13 0 10 7 12 23 9 18 -5 20 -3 9 8 -15
                    16 -16 33 -1 23 6 -3 14 -2 18 5 5 7 17 5 41 -8 19 -10 59 -21 88 -25 l53 -7
                    -17 26 c-16 24 -16 25 2 19 11 -4 24 -10 29 -14 6 -4 19 -6 30 -5 89 13 154
                    14 161 4 3 -6 0 -15 -7 -20 -11 -6 -10 -9 4 -15 11 -4 25 0 36 10 25 23 32 20
                    19 -9 -16 -35 -1 -48 40 -34 18 6 32 17 32 25 0 14 15 18 58 14 16 -1 22 4 22
                    18 0 18 8 19 130 18 78 -1 132 3 135 9 3 6 7 5 11 -2 7 -15 34 -17 34 -3 0 6
                    7 10 16 10 14 0 14 -3 4 -15 -12 -14 -1 -15 98 -11 62 3 117 8 123 12 8 4 9 3
                    5 -4 -4 -7 -1 -12 8 -12 9 0 16 5 16 10 0 6 14 10 30 10 17 0 30 -4 30 -9 0
                    -6 17 -8 38 -5 20 2 31 1 24 -2 -21 -10 31 -44 58 -37 22 6 22 7 5 20 -23 16
                    -7 17 32 2 15 -6 44 -12 63 -14 l35 -3 -27 14 c-16 8 -28 17 -28 20 0 3 36 4
                    79 2 56 -3 85 -9 98 -20 10 -9 30 -21 46 -27 22 -9 27 -8 27 4 0 18 41 20 58
                    3 9 -9 12 -7 12 10 0 12 5 22 10 22 6 0 10 -4 10 -10 0 -5 7 -10 15 -10 9 0
                    12 6 9 15 -5 11 1 15 24 15 25 0 32 -6 41 -31 8 -24 15 -29 30 -24 11 3 22 1
                    26 -5 7 -11 45 -14 45 -2 -1 17 -17 27 -49 29 -60 2 -51 18 12 20 42 1 56 -1
                    46 -8 -10 -7 -5 -8 15 -3 21 5 27 4 22 -5 -4 -7 0 -11 11 -11 16 1 15 3 -4 19
                    -26 22 -30 36 -9 28 10 -4 13 -1 9 9 -3 7 0 14 6 14 6 0 11 -7 11 -16 0 -12 7
                    -15 30 -12 16 2 31 1 32 -4 4 -11 35 -12 63 -3 13 4 28 -1 44 -16 23 -21 26
                    -22 52 -7 26 16 28 15 33 -8 7 -26 36 -33 36 -9 0 8 -4 15 -9 15 -5 0 -7 9 -4
                    20 3 11 12 20 20 20 8 0 11 5 8 10 -3 6 4 10 15 10 18 0 21 -4 16 -24 -6 -26
                    -7 -26 58 -17 5 0 3 8 -4 16 -10 12 -16 13 -29 3 -14 -12 -14 -11 -2 5 10 13
                    17 15 27 6 11 -9 18 -8 29 1 14 11 19 7 16 -12 -2 -13 18 -9 26 6 9 15 63 28
                    63 15 0 -5 12 -8 28 -8 17 1 21 3 9 6 -14 4 -16 8 -7 18 9 11 15 12 25 2 7 -7
                    11 -15 9 -19 -2 -3 10 -11 28 -17 26 -9 35 -8 50 6 28 25 86 26 119 2 l28 -20
                    -2 27 c-2 23 2 27 31 30 21 3 39 -2 48 -11 24 -24 124 -10 109 16 -4 5 1 9 10
                    9 9 0 14 -4 10 -9 -3 -5 -1 -12 5 -16 5 -3 10 1 10 9 0 9 5 16 11 16 6 0 9 -7
                    5 -15 -11 -29 33 -43 127 -40 95 3 129 17 84 34 -36 14 -36 36 1 26 15 -3 37
                    -7 50 -7z" />
                        <path d="M368 5532 c-25 -27 -38 -59 -38 -87 0 -32 49 -85 79 -85 12 0 21 -4
                    21 -10 0 -35 46 42 57 94 4 22 -16 90 -25 82 -3 -3 -10 -2 -16 3 -25 19 -63
                    21 -78 3z" />
                    </g>
                    </svg>
                    <div class="container-sm" style='display:flex;flex-direction:column;'>
                        <Name1 style="display:none">@Localizer["Button_Ava"]</Name1>
                        <Name2 style="display:none">@Localizer["Button_ChAva"]</Name2>
                        <img id="AvatarIMG" src="/img/@User?.Avatar" />
                        <p id="avaError" style="color:red;display:none;"></p>
                        <label id="ButtonAvatar" class="custom-file-upload" style='margin:auto;'>
                            <input type="file" id="avatar_Select_Button" name="Avatar" accept="image/*" />
                            <Text></Text>
                        </label>
                    </div>
                </div>
            </div>
            <div class="container-sm" style='display:flex;flex-direction:column;'>
                <div style="position:relative; padding:1em 1em 1em; text-align:center;">
                    <div>
                        <i>@Localizer["Placeholder_DateReg"]: </i>
                        <i class="UserProfile" style="white-space:nowrap;">@User?.RegMoment</i>
                    </div>
                    <div>
                        <i>@Localizer["Placeholder_Log"]: </i>
                        <i class="UserProfile" id="Login">@User?.Login</i>
                    </div>
                    <div>
                        <i>@Localizer["Placeholder_Name"]: </i>
                        <i class="UserProfile" id="RealName">@User?.RealName</i>
                    </div>
                    <div>
                        <i>@Localizer["Placeholder_Email"]: </i>
                        <i class="UserProfile" id="Email">@User?.Email</i>
                    </div>
                    <div id="PassLink" style="display:flex;flex-direction:row;">
                        <a href="#" id="PassLink_href" class="link-success">@Localizer["Link_Pass"]</a>
                    </div>
                    <form id="PassForm" action="/Auth/ChangeUserPassword" method="post" enctype="multipart/form-data">
                        <input type="password" name="OldPassword"  placeholder=@Localizer["Placeholder_CurPass"] />     @if (err?[0] != null){<i style="color:red;white-space:nowrap;">@err[0]</i>} <br />
                        <input type="password" name="NewPassword1" placeholder=@Localizer["Placeholder_NewPass"] />     @if (err?[1] != null){<i style="color:red;white-space:nowrap;">@err[1]</i>} <br />
                        <input type="password" name="NewPassword2" placeholder=@Localizer["Placeholder_ConfPass"] />    @if (err?[2] != null){<i style="color:red;white-space:nowrap;">@err[2]</i>} <br />
                        <button type="submit" class="CustomButton">@Localizer["Button_Change"]</button><button id="hidde" type="button" class="CustomButton">@Localizer["Button_Hidde"]</button>
                    </form>
                    <div class="DeletedArticles">
                        <a href="#" class="DelTableBTN">@Localizer["DelTableBTN"]</a>
                        <table class="DeleteArticleTable" align="center">
                            <thead>
                                <tr>
                                    <th>@Localizer["TH0"]</th>
                                    <th>@Localizer["TH1"]</th>
                                    <th>@Localizer["TH2"]</th>
                                    <th>@Localizer["TH3"]</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                    @if (err == null)
                    {
                        <script>
                            document.getElementById('PassForm').style.display = "none";
                            document.getElementById('PassLink').style.display = "inline";
                        </script>
                    }
                    else
                    {
                        <script>
                            document.getElementById('PassForm').style.display = "inline";
                            document.getElementById('PassLink').style.display = "none";
                        </script>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="module" src="/js/Profile.js"></script>
