@model About
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Title"];
}
<div class="container-custom">
    <h1 align="center">@Localizer["Title"]</h1>
    <div class="container-md" align="center" style="display:block">
        <p>
            @Localizer["Placeholder_Culture"]: <b>@ViewData["Locale"]</b>
        </p>
        <p>
            @Localizer["Placeholder_Data"]: <b>@Model?.Data</b>
        </p>
    </div>
</div>

